$aos-distance: 8rem !default;

 [data-aos^='fade'][data-aos^='fade'] {
  opacity: 0;
  transition: transform .85s ease-out 0s, opacity .5s linear .35s !important;
  will-change: transform, opacity;

  &.aos-animate {
   opacity: 1;
   transform: translate3d(0, 0, 0);
  }
 }

 [data-aos='fade-up'] {
  transform: translate3d(0, $aos-distance, 0);
 }

 [data-aos='fade-down'] {
  transform: translate3d(0, -$aos-distance, 0);
 }

 [data-aos='fade-right'] {
  transform: translate3d(-$aos-distance, 0, 0);
 }

 [data-aos='fade-left'] {
  transform: translate3d($aos-distance, 0, 0);
 }

 [data-aos='fade-up-right'] {
  transform: translate3d(-$aos-distance, $aos-distance, 0);
 }

 [data-aos='fade-up-left'] {
  transform: translate3d($aos-distance, $aos-distance, 0);
 }

 [data-aos='fade-down-right'] {
  transform: translate3d(-$aos-distance, -$aos-distance, 0);
 }

 [data-aos='fade-down-left'] {
  transform: translate3d($aos-distance, -$aos-distance, 0);
 }