body {

 .bg-light,
 .bg-white {
  a {
   color: $dark;
  }
 }
}

.content-offset-image-block-wrapper {
 position: relative;

 @include media(">=lg") {
  padding-bottom: 0 !important;
 }
}

.bg-dark {
 background-color: $dark !important;
}

.bg-darker {
 background-color: $darker !important;
}

.bg-teal {
  background: $teal !important;
}

.bg-nav-right {
  background: $bg-nav-right !important;
}

.bg-nav-right-dark {
  background: scale-color($bg-nav-right, $lightness: -3%) !important;
}

.bg-nav-right-darker {
  background: scale-color($bg-nav-right, $lightness: -5%) !important;
}

.bg-white {
 background-color: $white !important;
}

.bg-light {
 background-color: $light !important;
}

.bg-primary {
 background-color: $primary !important;
}

.bg-secondary {
 background-color: $secondary !important;
}

.bg-mystirling-blue {
 background-color: $mystirling-blue !important;
}

.bg-gradient {
  background: $bg-gradient !important;
  background-color: none !important;
}

.bg-gradient-light {
 background: $bg-gradient-light !important;
 background-color: none !important;
}

.bg-gradient-dark {
 background: $bg-gradient-dark !important;
 background-color: none !important;
}

.bg-gradient-active {
 background: $bg-gradient-active !important;
 background-color: none !important;
}

.bg-gradient-inactive {
 background: $bg-gradient-inactive !important;
 background-color: none !important;
}

.ms-background-container {
 height: 80vh;
 background: rgba(0, 0, 0, 0.30);
}

.bg-footer {
  background: $footer-area-bg !important;
  .text-white {
    color: $footer-color !important;
   }
   .vertical-sep {
     background-color: $footer-color !important;
   }
  .text-primary {
    color: $footer-heading-color !important;
  }
}

.bg-next-page {
  background: $next-page-background !important;
}

.bg-next-page-button {
  background-color: rgba(0,0,0,0) !important;
  &::before {
    background-color: $next-page-button-background !important;
  }
}

.bg-wrapper,
.bg-texture-single {
 position: relative;

 &.bg-pattern-one {
  &::before {
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: .6;
   background-image: $bg-texture-one;
   background-repeat: repeat;
   background-size: cover;
   background-blend-mode: multiply;
   background-color: $dark;
   content: " ";
  }
 }

 &.bg-pattern-two {
  &::before {
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: .6;
   background-image: $bg-texture-two;
   background-repeat: repeat;
   background-size: cover;
   background-blend-mode: multiply;
   background-color: $dark;
   content: " ";
  }
 }
}

.link-next-page {
 position: relative;

 &::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: $bg-texture-one;
  background-repeat: repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: $next-page-button-background;
  content: " ";
  z-index: -1;
 }
}
