.btn>svg>path {
 transition: fill 0.1s linear;
 will-change: fill;
}

.btn {
 font-family: $font-family-buttons;
 letter-spacing: 2.4px;
 font-weight: 500;
 text-transform: uppercase;
 line-height: 1.2;
 transition: background-image 0.1s linear, background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, fill 0.1s linear !important;
 will-change: background-image, color;
 color: $text-body-color;

 >a {
  text-decoration: none !important;
 }

 .deco-arrow {
  display: inline;
 }

 svg.arrow-right {
  margin: 4px 0;
 }

 &.btn-light {
  color: rgba($text-body-color, 0.72);

  &:hover,
  &:focus,
  &:active {
   color: $primary;
  }
 }

 &.btn-enquire {
  background: $bg-gradient-nav;
  color: $nav-right-menu-item;
  font-weight: 300;
  filter: brightness(100%);
  will-change: filter;
  transition: all .15s linear !important;

  &:hover,
  &:active,
  &:focus {
   color: $nav-right-menu-item !important;
   filter: brightness(124%);
  }
 }

 &.btn-nav-toggle {
  background-color: scale-color($dark, $lightness: -5%);
  color: $nav-right-menu-item;

  .tcon-menu__lines,
  .tcon-menu__lines:after,
  .tcon-menu__lines:before {
   background: $nav-right-menu-item;
  }

  will-change: background-color;
  transition: background-color .15s linear;

  &:hover,
  &:active,
  &:focus {
   background-color: scale-color($dark, $lightness: 5%);
  }
 }

 &.btn-outline-primary {
  border-color: $gray-600 !important;
  background-color: rgba(153, 153, 153, 0) !important;
  color: #839496 !important;

  &:hover,
  &:focus,
  &:active {
   color: $primary !important;
   border-color: $primary-inactive !important;
  }
 }

 &.btn-outline-primary:active,
 &.btn-outline-primary:focus {
  box-shadow: 0 0 0 1px $primary-inactive !important;
 }

 &.btn-form-submit {
  background: $secondary;
  color: $white;

  &:hover,
  &:focus,
  &:active {
   background: $secondary-dark;
  }
 }

 &.btn-chevron-right {
  border: 1px solid transparent;
  width: 5.825rem;
  max-width: 100%;
  display: flex;
  align-self: center;
  padding: 0.925rem 0.95rem;
  margin-left: .5rem;

  &.btn-outline-light {
   &:hover {
    border-color: rgba($next-page-button-text-hover, 0.28);
    background-color: rgba($next-page-button-text-hover, 0.04);
   }

   &:active,
   &:focus {
    border-color: rgba($next-page-button-text-hover, 0.5);
    background-color: rgba($next-page-button-text-hover, 0.1);
   }
  }
 }

 &.btn-play-video {
  // max-width: calc(32% - 2rem);
  img {
    object-fit: contain;
  }
  // @include media(">=lg") {
  //  max-width: 16%;
  // }
 }

 &.btn-form-submit,
 &.btn-info,
 &.btn-dark {
  color: $white;

  &:hover,
  &:focus,
  &:active {
   color: $white;

   >span {
    color: $white;
   }

   >a {
    color: $white;

    >span {
     color: $white;
    }
   }
  }
 }
 &.btn-back-to-top {
  padding-left: 0.825rem;
  padding-right: 0.825rem;
  border: 1px solid hsla(0,0%,60%,0.24);
  padding-bottom: 0.875rem;
  padding-top: 0.875rem;
}
 &.btn-link {
  color: $body-color;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0) !important;
  &.btn-arrow-right,
  &.btn-arrow-right-secondary {
   text-decoration: none;
   color: $text-body-color;
   background-image: $form-input-bg-body;

   >a {
    text-decoration: none;
    color: $text-body-color;
   }

   .arrow-right {
    >path {
     &.arrow-right-path {
      fill: $text-body-color;
     }
    }
   }

   &:hover,
   &:focus,
   &:active {
    text-decoration: none;
    color: $secondary;
    background-image: $form-input-bg-secondary;

    >a {
     text-decoration: none;
     color: $secondary;
    }

    .arrow-right {
     >path {
      &.arrow-right-path {
       fill: $secondary !important;
      }
     }
    }
   }
  }

  &.btn-arrow-right.btn-arrow-right-primary {
   text-decoration: none;
   color: $text-body-color;
   background-image: $form-input-bg-body;

   >a {
    text-decoration: none;
    color: $text-body-color;
   }

   .arrow-right {
    >path {
     &.arrow-right-path {
      fill: $text-body-color !important;
     }
    }
   }

   &:hover,
   &:focus,
   &:active {
    text-decoration: none;
    color: $primary;
    background-image: $form-input-bg-primary;

    >a {
     text-decoration: none;
     color: $primary;
    }

    .arrow-right {
     >path {
      &.arrow-right-path {
       fill: $primary !important;
      }
     }
    }
   }
  }
 }

 &.btn-amenities-select-level,
 &.btn-floorplan-select-level {
  box-shadow: none !important;
  &:hover,
  &:focus,
  &:active {
   color: $link-hover-color !important;
   box-shadow: none !important;
  }
 }

 &.btn-arrow-right,
 &.btn-arrow-right-lg {
  max-width: 100%;
  border: 0;
  display: flex;
  justify-content: flex-start;
  justify-self: flex-start;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: $form-input-bg;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom left;
  text-align: left;

  &:hover,
  &:focus,
  &:active {
   background-image: $form-input-bg-active;
  }

  &.btn-arrow-right {

    color: $body-color;
    background-image: $form-input-bg-body;

    >a {
      text-decoration: none;
      color: $body-color;
     }

   &:hover,
   &:focus,
   &:active {
    text-decoration: none;
    color: $secondary;
    background-image: $form-input-bg-secondary;

    >a {
     text-decoration: none;
     color: $secondary;
    }
   }
  .arrow-right {
    margin-top: 4px;
    margin-bottom: 3px;
  }
   &:hover,
   &:focus,
   &:active {
    .arrow-right {
     >path {
      &.arrow-right-path {
       fill: $secondary;
      }
     }
    }
   }

   &.btn-arrow-right-sm {
    background-image: none !important;
    .arrow-right {
      margin-top: 3px;
      margin-bottom: 4px;
    }
   }

   &:hover,
   &:focus,
   &:active {
    &.btn-arrow-right-sm {
     background-image: none !important;
    }
   }
  }

  &.btn-arrow-right-primary {

   &:hover,
   &:focus,
   &:active {
    text-decoration: none;
    color: $primary !important;
    background-image: $form-input-bg-primary !important;

    >a {
     text-decoration: none;
     color: $primary !important;
    }
   }

   &:hover,
   &:focus,
   &:active {
    .arrow-right {
     >path {
      &.arrow-right-path {
       fill: $primary !important;
      }
     }
    }
   }
  }

  .btn-arrow-text {
   text-align: left;
   margin-right: 1.25rem !important;
  }

  &.btn-arrow-right-sm {
   text-transform: none;
   letter-spacing: 0.5px;
   font-size: .825rem;
   background-image: none !important;
   display: inline-block;
  }
 }

 &.btn-chevron-down-sm {
  color: $text-body-color;
  max-width: 100%;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background: none !important;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 21.8rem;
  background: none !important;

  &:hover,
  &:focus,
  &:active {
   .btn-chevron-text {
    color: $secondary-light;
   }

   >.chevron-down-sm {
    path {
     fill: $secondary !important;
    }
   }
  }
 }

 &.btn-play-video {
  position: absolute;
  left: 0;
  padding: 0;
 }

 &.btn-outline-light {

  &:hover,
  &:active,
  &:focus {
   color: rgba($text-body-color, 0.72);
   background-color: rgba($text-body-color, 0.04);
   border-color: rgba($text-body-color, 0.14);

   .icon-chevron-path {
    fill: rgba($text-body-color, 0.92);
   }
  }
 }

 &.btn-arrow-right {
  &.btn-arrow-right-body {
   .arrow-right {
    >path {
     &.arrow-right-path {
      fill: $body-color;
     }
    }
  }
    background-image: $form-input-bg-body !important;
    color: $body-color !important;
   }

  &.btn-arrow-right-hover-body {

   &:hover,
   &:focus,
   &:active {
    text-decoration: none;
    color: c !important;
    background-image: $form-input-bg-body !important;

    >a {
     text-decoration: none;
     color: $body-color !important;
    }
   }

   &:hover,
   &:focus,
   &:active {
    .arrow-right {
     >path {
      &.arrow-right-path {
       fill: $body-color !important;
      }
     }
    }
   }
  }

  &.btn-arrow-right-light {
   .arrow-right {
    >path {
     &.arrow-right-path {
      fill: $light;
     }
    }
  }
    background-image: $form-input-bg-light !important;
    color: $light !important;
   }

  &.btn-arrow-right-hover-light {

   &:hover,
   &:focus,
   &:active {
    text-decoration: none;
    color: $light !important;
    background-image: $form-input-bg-light !important;

    >a {
     text-decoration: none;
     color: $light !important;
    }
   }

   &:hover,
   &:focus,
   &:active {
    .arrow-right {
     >path {
      &.arrow-right-path {
       fill: $light !important;
      }
     }
    }
   }
  }

  &.btn-arrow-right-white {
   .arrow-right {
    >path {
     &.arrow-right-path {
      fill: $white;
     }
    }
  }
    background-image: $form-input-bg-white !important;
    color: $white !important;
   }
  &.btn-arrow-right-hover-white {

    &:hover,
    &:focus,
    &:active {
     text-decoration: none;
     color: $white !important;
     background-image: $form-input-bg-white !important;

     >a {
      text-decoration: none;
      color: $white !important;
     }
    }

    &:hover,
    &:focus,
    &:active {
     .arrow-right {
      >path {
       &.arrow-right-path {
        fill: $white !important;
       }
      }
     }
    }
   }

   &.btn-arrow-right-dark {
    .arrow-right {
     >path {
      &.arrow-right-path {
       fill: $dark;
      }
     }
    }
     background-image: $form-input-bg-dark !important;
     color: $dark !important;
    }

   &.btn-arrow-right-hover-dark {

    &:hover,
    &:focus,
    &:active {
     text-decoration: none;
     color: $dark !important;
     background-image: $form-input-bg-dark !important;

     >a {
      text-decoration: none;
      color: $dark !important;
     }
    }

    &:hover,
    &:focus,
    &:active {
     .arrow-right {
      >path {
       &.arrow-right-path {
        fill: $dark !important;
       }
      }
     }
    }
   }

   &.btn-arrow-right-black {
    .arrow-right {
     >path {
      &.arrow-right-path {
       fill: $black;
      }
     }
    }
     background-image: $form-input-bg-black !important;
     color: $black !important;
    }

   &.btn-arrow-right-hover-black {

    &:hover,
    &:focus,
    &:active {
     text-decoration: none;
     color: $black !important;
     background-image: $form-input-bg-black !important;

     >a {
      text-decoration: none;
      color: $black !important;
     }
    }

    &:hover,
    &:focus,
    &:active {
     .arrow-right {
      >path {
       &.arrow-right-path {
        fill: $black !important;
       }
      }
     }
    }
   }

   &.btn-arrow-right-primary {
    .arrow-right {
     >path {
      &.arrow-right-path {
       fill: $primary;
      }
     }
    }
     background-image: $form-input-bg-primary !important;
     color: $primary !important;
    }

   &.btn-arrow-right-hover-primary {

    &:hover,
    &:focus,
    &:active {
     text-decoration: none;
     color: $primary !important;
     background-image: $form-input-bg-primary !important;

     >a {
      text-decoration: none;
      color: $primary !important;
     }
    }

    &:hover,
    &:focus,
    &:active {
     .arrow-right {
      >path {
       &.arrow-right-path {
        fill: $primary !important;
       }
      }
     }
    }
   }

   &.btn-arrow-right-secondary {
    .arrow-right {
     >path {
      &.arrow-right-path {
       fill: $secondary;
      }
     }
    }
     background-image: $form-input-bg-secondary !important;
     color: $secondary !important;
    }

   &.btn-arrow-right-hover-secondary {

    &:hover,
    &:focus,
    &:active {
     text-decoration: none;
     color: $secondary !important;
     background-image: $form-input-bg-secondary !important;

     >a {
      text-decoration: none;
      color: $secondary !important;
     }
    }

    &:hover,
    &:focus,
    &:active {
     .arrow-right {
      >path {
       &.arrow-right-path {
        fill: $secondary !important;
       }
      }
     }
    }
   }
  }
 }

 .btn-arrow-right>svg.arrow-right>path.arrow-right-path {
  fill: $text-body-color;
 }

 .btn-arrow-right:hover>svg.arrow-right>path.arrow-right-path,
 .btn-arrow-right:active>svg.arrow-right>path.arrow-right-path,
 .btn-arrow-right:focus>svg.arrow-right>path.arrow-right-path {
  fill: $secondary;
 }

 .btn-arrow-right.btn-arrow-right-primary:active>svg.arrow-right>path.arrow-right-path,
 .btn-arrow-right.btn-arrow-right-primary:hover>svg.arrow-right>path.arrow-right-path,
 .btn-arrow-right.btn-arrow-right-primary:focus>svg.arrow-right>path.arrow-right-path {
  fill: $primary !important;
 }

 .icon-chevron-path {
  fill: $text-muted-color;
 }

 .chevron-down-sm>path {
  fill: $text-muted-color;
 }

 .btn-group {
  &.btn-group-vertical {
   position: relative;
   margin: -1px 0;
  }

  &.btn-group-floorplan-select-level {
   width: 12rem;
   max-width: 100%;

   .btn-floorplan-select-level {
    text-align: left;
    margin-bottom: 0;
    padding: 0.42rem 1rem;
    color: rgba($text-body-color, .72);

    &:hover,
    &:focus,
    &:active,
    &.hovering-on {
     background: rgba($primary, 0.04) !important;
     color: $primary !important;
    }

    &.btn-light {
     &.active {
      color: $primary !important;
      background: rgba($primary, 0);
     }
    }
   }
  }
 }

#floorplanLevelMap {
 .btn {
  &.btn-floorplan-svg-select-level {
   cursor: pointer;
   fill: rgba(0, 0, 0, 0) !important;

   &:hover,
   &:focus,
   &:active,
   &.hovering-on {
    fill: rgba($primary-active, 0.24) !important;
   }

   &.active {
    fill: rgba($primary-active, 0.24) !important;
   }

   &:focus {
    .btn-floorplan-select-level {
     box-shadow: inset 0 0 0px 2px rgba($text-body-color, 0.2);
    }
   }
  }
 }
}

.btn-floorplan-svg-select-level {
 fill: rgba(0, 0, 0, 0);
}

.btn-svg {
 width: 3rem;
 max-width: 100%;
}

.btn-arrow-text {
 margin-right: 1.25rem;
}

.btn-outline-primary:hover svg path,
.btn-outline-primary:active svg path,
.btn-outline-primary:focus svg path {
 fill: $primary !important;
}

#wrapper-footer {
 .btn {
  &.btn-link {
   color: $footer-color;
   text-decoration: none;
   background-color: rgba(0, 0, 0, 0) !important;

   &.btn-arrow-right {

    &.btn-arrow-right-secondary,
    &.btn-arrow-right-primary {
     text-decoration: none;
     color: $footer-color;
     background-image: $form-input-bg-footer;

     >a {
      text-decoration: none;
      color: $footer-color;
     }

     .arrow-right {
      >path {
       &.arrow-right-path {
        fill: $footer-color !important;
       }
      }
     }

     &:hover,
     &:focus,
     &:active {
      text-decoration: none;
      color: $footer-heading-color !important;
      background-image: $form-input-bg-footer-active;

      >a {
       text-decoration: none;
       color: $footer-heading-color;
      }

      .arrow-right {
       >path {
        &.arrow-right-path {
         fill: $footer-heading-color !important;
        }
       }
      }
     }
    }
   }
  }
 }
}
