.grid {
 opacity: 0;
 transition: opacity 0.2s;
}

.grid.is-img-loaded {
 opacity: 1;
}

.grid-sizer,
.grid-item {
 width: 50%;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
 opacity: 0.85;
 z-index: 2;
}

.grid-item--width2 {
 width: 100%;

 img {
   width: 100%;
 }
}

.grid-item img {
 display: block;
 max-width: 100%;
}

.packery-drop-placeholder {
 background: #ccc;
 opacity: 0.5;
 outline: 3px dashed #000;
 outline-offset: -6px;
 -webkit-transition: -webkit-transform 0.2s;
 transition: transform 0.2s;
}

.grid {
 width: 100%;
 display: block;
 position: relative;
 height: 100%;
}

.is-dragging,
.is-positioning-post-drag,
.ui-draggable-dragging {
 z-index: 10;
 background: #e91e63 !important;
}

.grid-item {
//  background: rgba(1, 110, 99, 0);
//  box-shadow: inset -1px 0px 0.5px 1px rgba(255, 235, 59, 0.125), inset 1px 0px 0.5px 1px rgba(255, 235, 59, 0.125), inset 0px -1px 0.5px 1px rgba(255, 235, 59, 0.125), inset 0px 1px 0.5px 1px rgba(255, 235, 59, 0.125);
//  border: 1px solid transparent;
//  border-radius: 4px;
 position: relative;
 cursor: move;
}

.grid-swap-button {
 display: block;
 width: 22px;
 height: 22px;
 z-index: 99999;
 background: rgba(24, 175, 145, 0.25);
 border: 1px solid rgba(26, 188, 156, 0.42);
 color: rgba(255,255,255,.66);
 border-radius: 50%;
 position: absolute;
 right: 18px;
 top: 8px;
 padding: 0;
 display: inline-block;
 font-family: FontAwesome;
 font-size: 12px;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 text-align: center;
 line-height: 20px;
 &:hover, &:active, &:focus {
  background: rgba(24, 175, 145, 0.85);
  border-color: rgba(26, 188, 156, 0.92);
  color: rgba(255,255,255,.96);
 }
 transition: all 0.15s linear;
 cursor: pointer;
}

.grid-flip-button {
  display: block;
  width: 22px;
  height: 22px;
  z-index: 99999;
  background: rgba(24, 175, 145, 0.25);
  border: 1px solid rgba(26, 188, 156, 0.42);
  color: rgba(255,255,255,.66);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 38px;
  padding: 0;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 12px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  line-height: 20px;
  transform: rotateZ(90deg);
  &:hover, &:active, &:focus {
   background: rgba(24, 175, 145, 0.85);
   border-color: rgba(26, 188, 156, 0.92);
   color: rgba(255,255,255,.96);
  }
  transition: all 0.15s linear;
  cursor: pointer;
 }
