.dp-0 {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.dp-1 {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.dp-2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dp-3 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.dp-4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.dp-5 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.dp-6 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.dp-7 {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.dp-8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dp-9 {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.dp-10 {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.dp-11 {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.dp-12 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.dp-13 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.dp-14 {
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.dp-15 {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.dp-16 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.dp-17 {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.dp-18 {
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.dp-19 {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.dp-20 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.dp-21 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.dp-22 {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.dp-23 {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.dp-24 {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.dpw-0 {
  box-shadow: 0px 0px 0px 0px rgba(255,255,255, 0.2), 0px 0px 0px 0px rgba(255,255,255, 0.14), 0px 0px 0px 0px rgba(255,255,255, 0.12);
}

.dpw-1 {
  box-shadow: 0px 2px 1px -1px rgba(255,255,255, 0.2), 0px 1px 1px 0px rgba(255,255,255, 0.14), 0px 1px 3px 0px rgba(255,255,255, 0.12);
}

.dpw-2 {
  box-shadow: 0px 3px 1px -2px rgba(255,255,255, 0.2), 0px 2px 2px 0px rgba(255,255,255, 0.14), 0px 1px 5px 0px rgba(255,255,255, 0.12);
}

.dpw-3 {
  box-shadow: 0px 3px 3px -2px rgba(255,255,255, 0.2), 0px 3px 4px 0px rgba(255,255,255, 0.14), 0px 1px 8px 0px rgba(255,255,255, 0.12);
}

.dpw-4 {
  box-shadow: 0px 2px 4px -1px rgba(255,255,255, 0.2), 0px 4px 5px 0px rgba(255,255,255, 0.14), 0px 1px 10px 0px rgba(255,255,255, 0.12);
}

.dpw-5 {
  box-shadow: 0px 3px 5px -1px rgba(255,255,255, 0.2), 0px 5px 8px 0px rgba(255,255,255, 0.14), 0px 1px 14px 0px rgba(255,255,255, 0.12);
}

.dpw-6 {
  box-shadow: 0px 3px 5px -1px rgba(255,255,255, 0.2), 0px 6px 10px 0px rgba(255,255,255, 0.14), 0px 1px 18px 0px rgba(255,255,255, 0.12);
}

.dpw-7 {
  box-shadow: 0px 4px 5px -2px rgba(255,255,255, 0.2), 0px 7px 10px 1px rgba(255,255,255, 0.14), 0px 2px 16px 1px rgba(255,255,255, 0.12);
}

.dpw-8 {
  box-shadow: 0px 5px 5px -3px rgba(255,255,255, 0.2), 0px 8px 10px 1px rgba(255,255,255, 0.14), 0px 3px 14px 2px rgba(255,255,255, 0.12);
}

.dpw-9 {
  box-shadow: 0px 5px 6px -3px rgba(255,255,255, 0.2), 0px 9px 12px 1px rgba(255,255,255, 0.14), 0px 3px 16px 2px rgba(255,255,255, 0.12);
}

.dpw-10 {
  box-shadow: 0px 6px 6px -3px rgba(255,255,255, 0.2), 0px 10px 14px 1px rgba(255,255,255, 0.14), 0px 4px 18px 3px rgba(255,255,255, 0.12);
}

.dpw-11 {
  box-shadow: 0px 6px 7px -4px rgba(255,255,255, 0.2), 0px 11px 15px 1px rgba(255,255,255, 0.14), 0px 4px 20px 3px rgba(255,255,255, 0.12);
}

.dpw-12 {
  box-shadow: 0px 7px 8px -4px rgba(255,255,255, 0.2), 0px 12px 17px 2px rgba(255,255,255, 0.14), 0px 5px 22px 4px rgba(255,255,255, 0.12);
}

.dpw-13 {
  box-shadow: 0px 7px 8px -4px rgba(255,255,255, 0.2), 0px 13px 19px 2px rgba(255,255,255, 0.14), 0px 5px 24px 4px rgba(255,255,255, 0.12);
}

.dpw-14 {
  box-shadow: 0px 7px 9px -4px rgba(255,255,255, 0.2), 0px 14px 21px 2px rgba(255,255,255, 0.14), 0px 5px 26px 4px rgba(255,255,255, 0.12);
}

.dpw-15 {
  box-shadow: 0px 8px 9px -5px rgba(255,255,255, 0.2), 0px 15px 22px 2px rgba(255,255,255, 0.14), 0px 6px 28px 5px rgba(255,255,255, 0.12);
}

.dpw-16 {
  box-shadow: 0px 8px 10px -5px rgba(255,255,255, 0.2), 0px 16px 24px 2px rgba(255,255,255, 0.14), 0px 6px 30px 5px rgba(255,255,255, 0.12);
}

.dpw-17 {
  box-shadow: 0px 8px 11px -5px rgba(255,255,255, 0.2), 0px 17px 26px 2px rgba(255,255,255, 0.14), 0px 6px 32px 5px rgba(255,255,255, 0.12);
}

.dpw-18 {
  box-shadow: 0px 9px 11px -5px rgba(255,255,255, 0.2), 0px 18px 28px 2px rgba(255,255,255, 0.14), 0px 7px 34px 6px rgba(255,255,255, 0.12);
}

.dpw-19 {
  box-shadow: 0px 9px 12px -6px rgba(255,255,255, 0.2), 0px 19px 29px 2px rgba(255,255,255, 0.14), 0px 7px 36px 6px rgba(255,255,255, 0.12);
}

.dpw-20 {
  box-shadow: 0px 10px 13px -6px rgba(255,255,255, 0.2), 0px 20px 31px 3px rgba(255,255,255, 0.14), 0px 8px 38px 7px rgba(255,255,255, 0.12);
}

.dpw-21 {
  box-shadow: 0px 10px 13px -6px rgba(255,255,255, 0.2), 0px 21px 33px 3px rgba(255,255,255, 0.14), 0px 8px 40px 7px rgba(255,255,255, 0.12);
}

.dpw-22 {
  box-shadow: 0px 10px 14px -6px rgba(255,255,255, 0.2), 0px 22px 35px 3px rgba(255,255,255, 0.14), 0px 8px 42px 7px rgba(255,255,255, 0.12);
}

.dpw-23 {
  box-shadow: 0px 11px 14px -7px rgba(255,255,255, 0.2), 0px 23px 36px 3px rgba(255,255,255, 0.14), 0px 9px 44px 8px rgba(255,255,255, 0.12);
}

.dpw-24 {
  box-shadow: 0px 11px 15px -7px rgba(255,255,255, 0.2), 0px 24px 38px 3px rgba(255,255,255, 0.14), 0px 9px 46px 8px rgba(255,255,255, 0.12);
}
