.row-footer-heading {
 .vertical-sep {
  display: inline-block;
  width: 1px;
  background: $white;
  height: 1.5rem;
  position: relative;
  top: 0.225rem;
  margin: 0 .5rem;
 }

 h3,
 .h3 {
  font-weight: 300;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6 {
  color: $white;

  >a {
   color: $white;
   text-decoration: $link-decoration;
   background-color: transparent;

   &:hover,
   &:focus,
   &:active {
    color: $primary;
    text-decoration: $link-hover-decoration;
   }
  }

  i {
   color: $primary;
  }
 }
}

#footer-nav-right {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
   color: $black;
   font-family: $font-family-montreal;
  }
  a {
    color: $black;
    text-decoration: $link-decoration;
    background-color: transparent;
    font-family: $font-family-roboto;
    transition: color 0.15s linear;
    &:hover,
    &:focus,
    &:active {
     color: $mystirling-blue;
     text-decoration: $link-hover-decoration;
     i {
      color: $mystirling-blue;
     }
    }
   }
 
   p, span {
    color: $black;
    font-family: $font-family-roboto;
   }
   i {
    color: $black;
   }
   .col-copyright {
     a, p, span {
      font-size: 12px;
      vertical-align: baseline;
      font-weight: 400;
      font-family: $font-family-roboto;
     }
   }
}

.row-footer-social {
 >div {
  z-index: 1;
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
 }
}

.row-footer-social {
 &.error-state {
  #instagramFeed {
   display: none !important;
  }
 }
}

.col-footer-nav-right {
 &.error-state {

  &::before,
  &::after {
   display: none !important;
  }
 }
}

.insta-feed-link {
 display: block;
 width: 100%;
 background-position: center;
 background-size: cover;
 height: 12rem;
 max-height: 100%;
 box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

.img-logo-bot {
 max-width: 14rem;
}

.logo-img-stirling {
 @include media(">=lg") {
  padding-top: 5px;
 }
}

.col-footer-nav-left,
.contact-details-block {
 #logo-image {
  width: 11.125rem;
  max-width: 100%;

  @include media(">=lg") {
   margin-bottom: 3rem !important;
  }
 }
}

.footer-subscribe {
 font-family: $font-family-roboto;
 font-weight: 400;
}

.row-footer-multisite-nav {
 padding-right: 8.5rem;
}

.footer-multisite-link {
 font-size: .95rem;
 font-family: $font-family-roboto;
 letter-spacing: 1.2px;
 font-weight: 400;
 text-transform: uppercase;
 color: $black;
 display: block;
}

.icon-social-temp {
 margin-bottom: 3px;
 line-height: 18px;
}

.footer-nav-project {
 .nav-item {
  margin-bottom: .125rem;

  a {
   font-family: $font-family-roboto;
   font-size: .875rem;
   font-weight: 300;
   letter-spacing: 1px;
   text-transform: uppercase;
  }
 }
}

.col-copyright {
 margin-top: 7.8125rem;

 .text-dark {
  font-family: $font-family-roboto;
  font-size: .8125rem;
  line-height: 1;
 }

 .vertical-sep {
  background: $black;
  width: 1px;
  display: inline-block;
  height: 12px;
  top: 1px;
  position: relative;
  margin: 0 5px;
 }
}

.footer-multisite-social-link {
 font-size: 1.25rem;
}

.col-footer-nav-right {
 position: relative;
 padding-bottom: 2rem;

 @include media(">=md") {
  padding-bottom: 10rem;
 }

 &::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: $white;
  left: 100%;
  bottom: 0;
  content: " ";

  @include media(">=xl") {
   height: calc(100% + 10rem);
  }
 }

 &::before {
  display: none;
  position: absolute;
  width: 100%;
  background: $white !important;
  height: 10rem;
  top: -10rem;
  left: 0;
  content: " ";

  @include media(">=xl") {
   display: block;
  }
 }
}

.col-footer-nav-left {
 display: flex;
 flex-direction: column;
 align-items: flex-start;

 @include media(">=lg") {
  flex-direction: row;
 }

 @include media(">=xl") {
  flex-direction: column;
 }

 .footer-wrapper-text {
  font-size: 0.8725rem;
  line-height: 1.6;
  color: rgb(219, 221, 222);
  letter-spacing: 0.75px;
 }
}

.row-footer-contact {
 background-size: 100%;
}

.video-iframe-wrapper {
 padding: 56.25% 0 0 0;
 position: relative;

 >.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 }
}
