.gform_wrapper {
 .gform_body {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
 }

 .gform_footer {
  padding: 0 .5rem;

  img {
   display: none !important;
  }
 }

 .gfield_error .form-control {
  background-image: linear-gradient(to top, rgba($danger, 0.92) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(to top, rgba($danger, 0.92) 1px, rgba(0, 0, 0, 0) 2px);
 }

 .gfield_description.validation_message {
  color: rgba($danger, 0.92);
  font-size: 14px;
  margin-top: 8px;
 }

 .gform_validation_container,
 .validation_error,
 .gfield_label,
 .screen-reader-text {
  display: none !important;
 }

 >form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 0;
  flex-flow: column;
  width: 100%;
  max-width: 100%;
 }

 .gform_fields {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  width: 100%;
  max-width: 100%;
  list-style: none;
  padding-inline-start: 0;
  align-items: flex-start;

  .gfield {
   list-style: none;
   margin: 0;
   //  display: flex;
  }
 }

 .charleft {
  display: none !important;
 }

 .ginput_container {
  width: 100%;
  margin-bottom: 0;

  .form-control {
   border: 0;
   border-radius: 0;
   background-image: $form-input-bg;
   width: 100%;
   padding: 1.375rem 0;
  }
 }

 .ginput_container_textarea {
  margin-bottom: 0;
 }

 .form-control {
  font-size: 16px;
  color: rgba($white, 0.72);
  min-height: calc(1.5rem + #{$form-font-size} + 2px);
  height: auto !important;

  &::placeholder {
   font-family: $font-family-buttons;
   color: rgba($white, 0.72);
   text-transform: uppercase;
   letter-spacing: 2.4px;
   font-weight: 500;
   font-size: $form-font-size;
  }

  &.textarea,
  &textarea {
   min-height: 8.25rem;
   padding: 27px 0 5px 0;
  }

  &.gfield_select,
  &select {
   font-family: $font-family-buttons;
   text-transform: uppercase;
   letter-spacing: 2.4px;
   font-weight: 500;
   font-size: $form-font-size;
   color: rgba($white, 0.72);
   line-height: 1.5;
   margin-top: 1px;
   cursor: pointer;

   &::placeholder {
    color: rgba($white, 0.72);
   }

   option {
    padding: 10px 0;
    font-size: 1.25rem;
    background: rgba($darker, 0.92);
    color: $white;
    line-height: 1.5;
    border: 0 !important;
    text-transform: none;
    cursor: pointer;
   }
  }
 }

 .gform_footer {
  .btn {
   padding: 1.5rem 4rem;
   border: 1px solid transparent;
   margin-top: 2rem;
  }
 }
}

#wrapper-footer {
 .gform_wrapper {
  .form-light {
   flex-flow: column;

   @include media(">=lg") {
    flex-flow: row !important;
   }

   .ginput_container {
    .form-control {
     padding: 16px 0;
     background: none;
     color: $dark;
     border-bottom: 1px solid rgb(191, 191, 191);
     font-weight: 400;
     font-family: $font-family-roboto;

     &::placeholder {
      letter-spacing: 0;
      font-weight: 400;
      color: $black;
      font-family: $font-family-roboto;
      font-size: .95rem !important;
      text-transform: none;
     }

     @include media(">=lg") {
      margin-bottom: 0;
     }
    }
   }

   .gform_body {
    flex-basis: 100%;
    margin-bottom: 0rem;

    @include media(">=lg") {
     flex-basis: calc(100% - 8.5rem);
    }
   }

   .gform_footer {
    flex-basis: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 0rem;

    @include media(">=lg") {
     flex-basis: 8.5rem;
    }

    .btn {
     &.btn-form-submit {
      padding: 18px 12px;
      width: 8.5rem;
      max-width: 100%;
      margin-bottom: 0;
      font-size: $form-font-size;
      font-family: $font-family-roboto;
      background: none;
      color: $black;
      border: 1px solid rgb(191, 191, 191);
      font-weight: 400;
      font-style: initial;
      letter-spacing: 0;
      text-transform: uppercase;
      transition: all 0.15s linear;

      &:hover,
      &:active,
      &:focus {
       background: rgba($light, .04);
      }
     }
    }
   }

   .ginput_container {
    margin-bottom: 0;
   }
  }
 }
}

#sidebar-right-enquire {
 .gform_wrapper {
  .btn {
   &.btn-form-submit {
    background: scale-color($bg-nav-right-enquire-submit, $lightness: -12%);
    transition: all .2s linear;
    color: $white;
    &:hover,
    &:active,
    &:focus {
     background: $bg-nav-right-enquire-submit;
     color: $white;
    }
   }
  }
 }
}

#sidebar-left-enquire {
 .gform_wrapper {
  .form-light {
   flex-flow: column;

   .ginput_container {
    .form-control {
     padding: 16px 0;
     background: none;
     color: $dark;
     border-bottom: 1px solid rgb(191, 191, 191);

     &::placeholder {
      letter-spacing: 0;
      font-weight: 300;
      color: $dark;
      font-size: .95rem !important;
      text-transform: uppercase;
     }

     @include media(">=lg") {
      margin-bottom: 0;
     }
    }
   }

   &.gfield_select,
   & select {
    line-height: 1.5;
    margin-top: 1px;
    letter-spacing: 0;
    font-weight: 300;
    color: $dark;
    font-size: .95rem !important;
    text-transform: uppercase;
    cursor: pointer;

    option {
     padding: 10px 0;
     font-size: 1.25rem;
     background: rgb(228, 228, 228);
     color: $dark;
     line-height: 1.5;
     border: 0 !important;
     text-transform: none;
     cursor: pointer;
    }
   }

   .gform_body {
    flex-basis: 100%;
    margin-bottom: 0rem;

    @include media(">=lg") {
     flex-basis: calc(100% - 8.5rem);
    }
   }

   .gform_footer {
    flex-basis: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 0rem;

    @include media(">=lg") {
     flex-basis: 8.5rem;
    }

    .btn {
     &.btn-form-submit {
      padding: 18px 12px;
      width: 8.5rem;
      max-width: 100%;
      margin-bottom: 0;
      font-size: $form-font-size;
      background: none;
      color: $black;
      border: 1px solid #bfbfbf;
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0;
      text-transform: uppercase;
     }
    }
   }

   .ginput_container {
    margin-bottom: 0;
   }
  }
 }
}

#gform_wrapper_5 {
 .form-control.textarea {
  height: auto !important;
  min-height: 0 !important;
 }
}

@include media(">=lg") {

 #field_4_6,
 #field_6_6
 {
  order: 99 !important;
  margin-top: -4.125rem;
 }
}

#field_4_0,
#field_5_0,
#field_6_0,
#field_7_0 {
 order: 1;
}

#field_4_1,
#field_5_1,
#field_6_1,
#field_7_1 {
 order: 2;
}

#field_4_2,
#field_5_2,
#field_6_2,
#field_7_2 {
 order: 3;
}

#field_4_3,
#field_5_3,
#field_6_3,
#field_7_3 {
 order: 4;
}

#field_4_4,
#field_5_4,
#field_6_4,
#field_7_4 {
 order: 5;
}

#field_4_5,
#field_5_5,
#field_6_5,
#field_7_5 {
 order: 6;
}

#field_4_6,
#field_5_6,
#field_6_6,
#field_7_6 {
 order: 7;
}

#field_4_7,
#field_5_7,
#field_6_7,
#field_7_7 {
 order: 8;
}

#field_4_8,
#field_5_8,
#field_6_8,
#field_7_8 {
 order: 9;
}

#field_4_9,
#field_5_9,
#field_6_9,
#field_7_9 {
 order: 10;
}

#field_4_10,
#field_5_10,
#field_6_10,
#field_7_10 {
 order: 11;
}

#field_4_11,
#field_5_11,
#field_6_11,
#field_7_11 {
 order: 12;
}

#field_4_12,
#field_5_12,
#field_6_12,
#field_7_12 {
 order: 13;
}

#field_4_13,
#field_5_13,
#field_6_13,
#field_7_13 {
 order: 14;
}

#field_4_14,
#field_5_14,
#field_6_14,
#field_7_14 {
 order: 15;
}

#field_4_15,
#field_5_15,
#field_6_15,
#field_7_15 {
 order: 16;
}

#field_4_16,
#field_5_16,
#field_6_16,
#field_7_16 {
 order: 17;
}

#field_4_17,
#field_5_17,
#field_6_17,
#field_7_17 {
 order: 18;
}

#field_4_18,
#field_5_18,
#field_6_18,
#field_7_18 {
 order: 19;
}

#field_4_19,
#field_5_19,
#field_6_19,
#field_7_19 {
 order: 20;
}

#gform_submit_button_3 {
 margin-top: 2rem;

 @include media(">=lg") {
  margin-top: 0;
 }
}
