.icons {
 width: 100%;
 max-width: 100%;

 .icon-box {
  width:25%;
  @include media(">=lg") {
    width: 15%; 
  }
    display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;

  img {
   display: block;
   width: 47px;
   height: auto;
   margin-bottom: 1rem;
   max-width: 100%;
  }

  p {
    font-size: .825rem;
    width: 100%;
    max-width: 85%;
    margin-left: 0;
    margin-right: 0;
    padding: 0 9px;
  }
 }
}

.mute-logo {
 position: absolute;
 bottom: 5%;
 left: 5%;
}
