.row-image-block {
 p {
  line-height: 1.5;
  padding-left: .5rem;
  padding-right: .5rem;
 }
}
.choco-gallery {
  .chocolat-image,
  .ms-lightbox-a {
    width: 100%;
    max-width: 100%;

  .img-fit {
    width: 100%;
    max-width: 100%;
    max-height: 94vh;
    object-fit: cover;
    object-position: center;
  }
}
}
.heading-contain {
  max-width:27rem;
  width: 100%;
}

.sub-heading-contain{
  max-width:38rem;
  width: 100%;
}

.gallery-adjust-img {
  max-height: 50rem;
  width: 100%;
 }

 .section-six-wrapper .row-image-block img {
  margin-left: auto;
 }

 .section-six-wrapper .row-image-block .img-fit {
  width: 100%;
  @include media(">=lg") {
   width: auto;
  }
 }
 @include media(">=xl") {
  .overlay-adjust-1 .ms-lightbox-a .bx-lightbox-overlay {
   right: 0 !important;
   left: 44px;
   width: calc(100% - 44px);
   position: absolute;
  }
 
  .overlay-adjust-2 .ms-lightbox-a .bx-lightbox-overlay {
   right: 0 !important;
   left: 134px;
   width: calc(100% - 134px);
   position: absolute;
  }
 }
 
 .img-fit {
  display: block;
  height: auto;
  object-fit: cover;
  object-position: center;
  @include media("<lg") {
     width: 100%;
  }
 }

 
.choco-title {
  align-self: flex-end;
  position: absolute;
  left: 0;
  padding: 2rem;
 }
