#mystirling-dark {

  .bg-light,
  .bg-white {
   .text-white {
    color: $dark !important;
   }
 
   .text-dark {
    color: #fff !important;
   }
  }
 
  .bg-dark,
  .bg-darker,
  .bg-info {
   .text-white {
    color: #fff !important;
   }
  }
  .gform_wrapper {
    .form-control {
     &:focus,
     &:focus-within {
      background-image: $form-input-bg-submit;
      box-shadow: none !important;
     }
   }
  }
  #floorplans {
    .vertical-sep {
       background: rgba($dark, .72);
    }
  }
 }

#mystirling-light {
 .bg-light,
 .bg-white {
  .text-white {
   color: #000 !important;
  }

  .text-dark {
   color: #fff !important;
  }
 }

 .bg-dark,
 .bg-darker,
 .bg-info {
  .text-white {
   color: #fff !important;
  }
 }

  .gform_wrapper {
    .form-control {
      &:focus,
      &:focus-within {
      background-image: $form-input-bg-submit;
      box-shadow: none !important;
      }
    }
  }
  #floorplans {
    .vertical-sep {
       background: rgba($white, .72);
    }
  }
 }

