// ***  START Global body/html overflow fix                               ***** 
html {
 -webkit-overflow-scrolling: touch;
 -webkit-font-smoothing: antialiased;
 padding: 0;
 margin: 0;
 width: 100%;
 max-width: 100%;
 position: relative;
 display: block;
 overflow-x: hidden;
}

body {
 font-family: $font-family-sans-serif;
 font-size: $font-size-base;
 font-weight: $font-weight-normal;
 overflow-x: hidden;
 overflow-y: initial;
 line-height: $body-line-height;
 color: $body-color;
 background-color: $body-bg;
 -webkit-overflow-scrolling: touch;
 -webkit-font-smoothing: antialiased;
 padding: 0;
 margin: 0;
 width: 100%;
 max-width: 100%;
 position: relative;
 display: block;
}

#page {
 overflow-x: hidden;
 overflow-y: initial;
 -webkit-overflow-scrolling: touch;
 -webkit-font-smoothing: antialiased;
 width: 100%;
 max-width: 100%;
 padding: 0;
 margin: 0;
 display: block;

 @include media(">=lg") {
  padding-left: 80px
 }

 padding-top: 4.5rem;

 @include media(">=md") {
  padding-top: 0;
 }
}

#query-monitor-main {
  display: none;
}

.row-info.text-muted {
 display: none;
}

.text-black {
 color: $black !important;
}

.next-page-wrapper,
.text-content-block-wrapper,
.offset-text-content-wrapper {
 padding-left: 1.5rem;
 padding-right: 1.5rem;

 @include media(">=xl") {
  padding-left: 0;
  padding-right: 0;
 }
}

#page {
 padding-top: 4.5rem;

 @include media(">=md") {
  padding-top: 0;
 }
}

// ***  END   Global body/html overflow fix                               ***** 

// *** START  Anti-tracking pixel display bug                             ***** 
img[src*=".gif"]:not([src*="mystirling.com"]):not([src*="lcprojects.com.au"]) {
 display: none !important;
 // display: block!important;
 // height: 32px!important;
 // width: 32px!important;
 // background: red!important;
 // float: left!important;
 // margin-left: 100px !important;
}
// *** END  Anti-tracking pixel display bug                               ***** 

pre {
 display: block;
 width: 100%;
 height: 50vh;
 color: $white;
 white-space: pre-wrap;
 background: $dark;
}

.text-no-upper {
 text-transform: none !important;
}

.choco-title {
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: 2px;
}

.sep-content {
 display: block;
 background: $text-muted;
 height: 1px;
 width: 14rem;
 max-width: calc(100% - 2rem);
}

#floorplanLevelMap {
 background: url(https://barque.lcprojects.com.au/wp-content/uploads/barque-line-drawing-building.png);
 background-size: 100%;
}

#levelNumber {
 font-size: 1.1875rem !important;
}

.imp-initialized {
 display: inline-block !important;
}

body::-webkit-scrollbar-track {
 //  box-shadow: $scrollbar-track-shadow;
 background-color: scale-color($scrollbar-track-bg, $lightness: -7%);
}

body::-webkit-scrollbar {
 width: $scrollbar-width;
 background-color: $scrollbar-bg;
}

body::-webkit-scrollbar-thumb {
 background-color: $scrollbar-thumb-color;
}

a {
 text-decoration: none;
 transition: color 0.15s linear;

 &:hover,
 &:focus,
 &:active {
  text-decoration: none;
 }
}

.fa {
 transition: color .15s linear;
}

*::selection {
 background: rgba($secondary-dark, 0.75);
 color: $white;
}

* {
 outline: 0;
}

iframe,
iframe.iframe-svg-map {
 background-color: transparent;
 border: none;
 overflow: hidden;
 padding: 0;
 margin: 0;
 width: 100%;
 max-width: 100%;
 opacity: 1;
 height: auto;
 transition: opacity .25s ease-out .125s, height .125s ease-out;
 will-change: opacity, height;
}

.maxheight-92 {
 max-height: 92vh;
}

.text-drop-shadow {
 text-shadow: $text-drop-shadow;
}

.mh-86 {
 min-height: 86vh;
 height: auto;
}

.mh-80 {
 min-height: 80vh;
 height: auto;
}

.mh-66 {
 min-height: 66vh;
 height: auto;

 &.fw-image-block {
  &.fw-image-block-jarallax {
   >div {
    height: 768px;
    max-height: 100vh;
    min-height: 66vh;
   }
  }
 }
}

.maxheight-86 {
 max-height: 86vh;
 height: auto;
 overflow: hidden;
}

.maxheight-80 {
 max-height: 80vh;
 height: auto;
 overflow: hidden;
}

.mw-lg-20 {
 @include media(">=lg") {
  max-width: 20rem;
  width: 100%;
 }
}

.mw-lg-30 {
 @include media(">=lg") {
  max-width: 30rem;
  width: 100%;
 }
}

.mw-lg-38 {
 @include media(">=lg") {
  max-width: 38rem;
  width: 100%;
 }
}

.mw-40 {
 max-width: 40rem !important;
 width: 100%;
}

.mw-56 {
 @include media(">=lg") {
  max-width: 56.25rem;
  width: 100%;
 }
}

.mw-50 {
 @include media(">=lg") {
  max-width: 50rem;
  width: 100%;
 }
}

.mw-lg-50 {
 @include media(">=lg") {
  max-width: 50rem;
  width: 100%;
 }
}

.mw-content {
 width: 32rem;
 margin-left: auto;
 margin-right: auto;
 max-width: 100%;
}

.featured-apartment-col {
 .btn-arrow-right {
  margin-bottom: 1.25rem;
 }
}

.navbar-toggler-text {
 text-transform: uppercase;
 text-decoration: none !important;
 font-size: 1rem;
 cursor: pointer;
 color: #575458;
 padding-top: 0;
 padding-bottom: 0.3rem;
 width: 52px;
 text-align: center;
 margin: 0 auto;
 transition: opacity .15s linear;
 opacity: 0;

 @include media(">=md") {
  opacity: 1;
 }
}

.justify-self-center {
 justify-self: center;
 margin-left: auto;
 margin-right: auto;
}

.display-1,
.display-2,
.display-3,
.display-4 {
 font-weight: 700;
}

.disclaimer-text {
 font-size: 0.75rem;
 font-weight: 400;
 line-height: 1.25;

 @include media(">=lg") {
  max-width: 24rem;
 }
}

#content {

 .entry-content,
 .content-area {

  .h1,
  h1 {
   letter-spacing: 0.25px;
  }

  .h2,
  h2 {
   letter-spacing: 0.25px;
  }

  .h3,
  h3 {
   letter-spacing: 0.25px;
  }

  .h4,
  h4 {
   letter-spacing: 0.25px;
   line-height: 1.5;
   margin-bottom: 1.25rem;
  }

  h5,
  .h5 {
   font-family: $font-family-roboto;
   font-weight: 500;
   letter-spacing: 1px;
   line-height: 1.5;
  }

  .h6,
  h6 {
   font-family: $font-family-roboto;
   font-weight: 500;
   letter-spacing: 1.325px;
   text-transform: uppercase;
   line-height: 1.5;
  }
 }
}

.gmap-info-body {
 .card-text {
  color: $black !important;
 }

 .card-link {
  margin-right: 6px;
  color: $dark;

  &:hover,
  &:active,
  &:focus {
   color: $darker;
   text-decoration: none;
  }

  .fa {
   margin-left: 6px;
  }
 }

 .gmap-info-title {
  font-size: 1.4rem;
  color: $dark !important;
 }
}

.ldSidenavMask {
  @include media("<md") {
    z-index: -1 !important;
  }
}

.fp-hero-plax.jarallax-img {
 opacity: 0.725;
}

#compass-deco {
 @include media("<md") {
  position: absolute;
  top: 0;
  justify-content: flex-end !important;
 }
}

.homepage-content-wrapper {
 display: block;
 width: 100%;
 max-width: 100%;

 @include media(">=lg") {
  padding-left: 5.5rem;
 }
}

@include media(">=md") {

 .col-apartment-disclaimer>h4,
 .col-apartment-disclaimer>h6 {
  margin: 0 !important;
 }

 .col-apartment-disclaimer>span {
  margin: 0 12px !important;
 }

 .col-apartment-disclaimer {
  font-size: .75rem !important;

  h6 {
   font-size: .75rem !important;
  }

  span {
   font-size: .75rem !important;
   margin-bottom: 2px !important;
  }
 }
}

.optionsLogo {
 width: 100%;
}

.locations-dropdown-menu {
 overflow-y: scroll;
 min-height: 12.5rem;
}

.row-team-block {
 padding: 2rem;

 @include media(">=md") {
  padding: 0;
 }
}

.col-headline-content-block {
 padding-left: 2rem;
 padding-right: 2rem;

 @include media(">=md") {
  padding: 0;
 }
}
