.gutters {
 padding-left: $gutters-gap !important;
 padding-right: $gutters-gap !important;
}

.row {
 background-size: cover;
 background-position: center;

 &.internal-gutters {
  padding-left: $gutters-gap !important;
  padding-right: $gutters-gap !important;
 }
}

.justify-content-evenly {
 justify-content: space-evenly !important;
}

.pb-lg-0 {
 @include media(">=lg") {
  padding-bottom: 0 !important;
 }
}

.pt-lg-0 {
 @include media(">=lg") {
  padding-top: 0 !important;
 }
}

.pb-xl-0 {
 @include media(">=xl") {
  padding-bottom: 0 !important;
 }
}

.pt-xl-0 {
 @include media(">=xl") {
  padding-top: 0 !important;
 }
}

.pt-subpage-first {
  padding-top: 5rem !important;
  &.pt-3 {
    padding-top: 6rem !important;
  }
  &.pt-5 {
    padding-top: 8rem !important;
  }
  &.pt-6 {
    padding-top: 9.5rem !important;
  }
  &.pt-lg-7 {
    @include media(">=lg") {
      padding-top: 13.5rem !important;
    }
  }
}

.content-offset-after {
  @include media(">=lg") {
    padding-top: 12rem !important;
    &.pt-3 {
      padding-top: 13rem !important;
    }
    &.pt-5 {
      padding-top: 15rem !important;
    }
    &.pt-6 {
      padding-top: 16.5rem !important;
    }
    &.pt-lg-7 {
      @include media(">=lg") {
        padding-top: 20.5rem !important;
      }
    }
    @include media(">=xl") {}
    padding-top: 16rem !important;
    &.pt-3 {
      padding-top: 17rem !important;
    }
    &.pt-5 {
      padding-top: 19rem !important;
    }
    &.pt-6 {
      padding-top: 20.5rem !important;
    }
    &.pt-lg-7 {
      @include media(">=lg") {
        padding-top: 24.5rem !important;
      }
    }
  }
}

.pl-6,
.px-6 {
 padding-left: $padding-gap-mobile !important;

 @include media(">=lg") {
  padding-left: $padding-gap !important;
 }

 &.internal-gutters {
  padding-left: #{$padding-gap-mobile - $gutters-gap} !important;

  @include media(">=lg") {
   padding-left: #{$padding-gap - $gutters-gap} !important;
  }
 }
}

.pr-6,
.px-6 {
 padding-right: $padding-gap-mobile !important;

 @include media(">=lg") {
  padding-right: $padding-gap !important;
 }

 &.internal-gutters {
  padding-right: #{$padding-gap-mobile - $gutters-gap} !important;

  @include media(">=lg") {
   padding-right: #{$padding-gap - $gutters-gap} !important;
  }
 }
}

.pl-lg-6,
.px-lg-6 {
 @include media(">=lg") {
  padding-left: $padding-gap !important;
 }

 &.internal-gutters {
  @include media(">=lg") {
   padding-left: #{$padding-gap - $gutters-gap} !important;
  }
 }
}

.pr-lg-6,
.px-lg-6 {
 @include media(">=lg") {
  padding-right: $padding-gap !important;
 }

 &.internal-gutters {
  @include media(">=lg") {
   padding-right: #{$padding-gap - $gutters-gap} !important;
  }
 }
}

.pl-lg-7 {
 @include media(">=lg") {
  padding-left: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
 }

 &.internal-gutters {
  @include media(">=lg") {
   padding-left: #{$padding-gap + $padding-gap-mobile} !important;
  }
 }
}

.pr-lg-7 {
 @include media(">=lg") {
  padding-right: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
 }

 &.internal-gutters {
  @include media(">=lg") {
   padding-right: #{$padding-gap + $padding-gap-mobile} !important;
  }
 }
}

.pl-6,
.px-6 {
 padding-left: $padding-gap-mobile !important;

 @include media(">=xl") {
  padding-left: $padding-gap !important;
 }

 &.internal-gutters {
  padding-left: #{$padding-gap-mobile - $gutters-gap} !important;

  @include media(">=xl") {
   padding-left: #{$padding-gap - $gutters-gap} !important;
  }
 }
}

.pr-6,
.px-6 {
 padding-right: $padding-gap-mobile !important;

 @include media(">=xl") {
  padding-right: $padding-gap !important;
 }

 &.internal-gutters {
  padding-right: #{$padding-gap-mobile - $gutters-gap} !important;

  @include media(">=xl") {
   padding-right: #{$padding-gap - $gutters-gap} !important;
  }
 }
}

.pl-xl-6,
.px-xl-6 {
 @include media(">=xl") {
  padding-left: $padding-gap !important;
 }

 &.internal-gutters {
  @include media(">=xl") {
   padding-left: #{$padding-gap - $gutters-gap} !important;
  }
 }
}

.pr-xl-6,
.px-xl-6 {
 @include media(">=xl") {
  padding-right: $padding-gap !important;
 }

 &.internal-gutters {
  @include media(">=xl") {
   padding-right: #{$padding-gap - $gutters-gap} !important;
  }
 }
}

.pl-xl-7 {
 @include media(">=xl") {
  padding-left: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
 }

 &.internal-gutters {
  @include media(">=xl") {
   padding-left: #{$padding-gap + $padding-gap-mobile} !important;
  }
 }
}

.pr-xl-7 {
 @include media(">=xl") {
  padding-right: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
 }

 &.internal-gutters {
  @include media(">=xl") {
   padding-right: #{$padding-gap + $padding-gap-mobile} !important;
  }
 }
}

.pt-6,
.py-6 {
 padding-top: $padding-gap !important;
}

.pb-6,
.py-6 {
 padding-bottom: $padding-gap !important;
}

.pt-lg-6,
.py-lg-6 {
 @include media(">=lg") {
  padding-top: $padding-gap !important;
 }
}

.pb-lg-6,
.py-lg-6 {
 @include media(">=lg") {
  padding-bottom: $padding-gap !important;
 }
}

.pt-7 {
 padding-top: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
}

.pb-7 {
 padding-bottom: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
}

.py-7 {
 padding-bottom: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
 padding-top: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
}

.pt-lg-7,
.py-lg-7 {
 @include media(">=lg") {
  padding-top: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
 }
}

.pb-lg-7,
.py-lg-7 {
 @include media(">=lg") {
  padding-bottom: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
 }
}

.px-lg-7 {
 @include media(">=lg") {
  padding-left: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
  padding-right: #{$padding-gap + $padding-gap-mobile + $gutters-gap} !important;
 }
}
