
$black: #000 !default;
$white: #fff !default;

$primary-input: #00ffff !default;
$primary: $primary-input !default;
$primary-light: scale-color($primary, $lightness: 5%) !default;
$primary-lighter: scale-color($primary, $lightness: 10%) !default;
$primary-dark: scale-color($primary, $lightness: -5%) !default;
$primary-darker: scale-color($primary, $lightness: -10%) !default;
$primary-active: rgba($primary, 0.92) !default;
$primary-inactive: rgba($primary, 0.72) !default;

$secondary-input: #8f807c !default;
$secondary: $secondary-input !default;
$secondary-light: scale-color($secondary, $lightness: 5%) !default;
$secondary-lighter: scale-color($secondary, $lightness: 10%) !default;
$secondary-dark: scale-color($secondary, $lightness: -5%) !default;
$secondary-darker: scale-color($secondary, $lightness: -10%) !default;
$secondary-active: rgba($secondary, 0.92) !default;
$secondary-inactive: rgba($secondary, 0.72) !default;

$bg-nav-right-input: #8f807c !default;
$bg-nav-right: $bg-nav-right-input !default;
$bg-nav-right-enquire-submit: #00ffff !default;

$nav-right-button: #0079ad !default;
$bg-nav-right: #8f807c !default;
$nav-right-menu-item: #ffffff !default;
$nav-right-menu-item-hover: #00ffff !default;

$nav-right-button-light: scale-color($nav-right-button, $lightness: 12%) !default;
$nav-right-button-dark: scale-color($nav-right-button, $lightness: -5%) !default;
$nav-right-button-darker: scale-color($nav-right-button, $lightness: -10%) !default;

$bg-gradient-nav: linear-gradient(-162deg, $nav-right-button-light 35%, $nav-right-button 60%, $nav-right-button-dark 80%, $nav-right-button-darker 100%) !default;
$footer-area-bg: #f0f0f0 !default;
$next-page-background: #ffffff !default;
$next-page-button-text: #ffffff !default;
$next-page-button-text-hover: #00ffff !default;
$next-page-button-background: #022249 !default;

$light-input: #f0f0f0 !default;
$light: $light-input !default;

$dark-input: #022249 !default;
$dark: $dark-input !default;

$darker-input: scale-color($dark, $lightness: -10%) !default;
$darker: $darker-input !default;

$text-muted: rgba($light, .72) !default;

$mystirling-blue-input: #24c7c4 !default;
$mystirling-blue: $mystirling-blue-input !default;
$mystirling-light: scale-color($mystirling-blue, $lightness: 5%) !default;
$mystirling-blue-dark: scale-color($mystirling-blue, $lightness: -5%) !default;
$mystirling-blue-darker: scale-color($mystirling-blue, $lightness: -10%) !default;

$font-family-sans-serif: "Work Sans", Helvetica, Arial, sans-serif !default;
$font-family-heading : "Sanchez", Helvetica, Arial, sans-serif !default;

$text-black-color:  $dark !default;
$text-body-color:   $dark !default;
$text-muted-color:  rgba($dark, 0.72) !default;

$body-bg: $light !default;
$body-color: $dark !default;
$footer-color: $secondary !default;
$footer-heading-color: $primary !default;
$gmap-color: $secondary !default;
$gmap-heading-color: $primary !default;

$bg-texture-one: url("https://barque.lcprojects.com.au/wp-content/uploads/background-texture.jpg") !default;
$bg-texture-two: url("") !default;

$bg-login-logo: url("https://barque.lcprojects.com.auhttps://barque.lcprojects.com.au/wp-content/uploads/Barque-logo.png") !default;

$font-size-base: 0.975rem !default;
$font-weight-normal: 500 !default;

$headings-font-weight: 400 !default;
$headings-line-height: 1.2 !default;
$body-line-height: 1.5 !default;

$h1-font-size: 3.125rem !default;
$h2-font-size: 2.75rem !default;
$h3-font-size: 1.675rem !default;
