.msie {
  &.html,
  body {
    overflow-y: auto !important;
  }
  [data-aos^='fade'][data-aos^='fade'] {
    transform: translate3d(0,0,0) !important;
    opacity: 1 !important;
  }
  .location-two-wrapper .bg-pattern-one::before,
  .location-two-leaves,
  .bg-pattern-one::before {
    background-image: url('../img/leaf-one-ie.jpg') !important;
  }
  .leaves-building-bg::before {
    background-image: url('../img/leaf-two-ie.jpg') !important;
  }
  .bg-pattern-two::before {
    background-image: url('../img/leaves.png') !important;
  }
  .btn-arrow-right {
    height: 48px;
  }
}
