.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#jarallax-container-0, 
#jarallax-container-1, 
#jarallax-container-2, 
#jarallax-container-3, 
#jarallax-container-4, 
#jarallax-container-5, 
#jarallax-container-6, 
#jarallax-container-7, 
#jarallax-container-8, 
#jarallax-container-9 {
  margin-top: 0;
}
