.slider {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 100%;
  flex-wrap: wrap;
  background: fade(#ebebeb, 10%);
  // height: 500px;

  .slide {
    display: flex;
    flex: 1 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  img {
    display: block;
    margin: auto;
  }
}


// Optional style
@mixin transition($property...) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -ms-transition: $property; /* IE10 is actually unprefixed */
  -o-transition: $property;
  transition: $property;    
}
@mixin translate-y($value) {
-webkit-transform: translateY($value);
-moz-transform: translateY($value);
-ms-transform: translateY($value);
-o-transform: translateY($value);
transform: translateY($value);
}
.row.slick-slider {
.slide {
   display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;   
  text-align: center;
  h2, p {
    max-width: 800px;
  }
  h2 {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    opacity: 0;
    transition-delay: 1s;
    @include translate-y(-5rem);
    @include transition(transform 0.5s, opacity 0.3s);    
  }

  p {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    opacity: 0;
    transition-delay: 1s;
    @include translate-y(3rem);
    @include transition(transform 0.5s, opacity 0.3s);          
  }    
}
.slide.slick-current {
  h2, p {
    opacity: 1;
    transition-delay: 0.5s;
    @include translate-y(0); 
  
  }
  p {
    transition-delay: 1s;
  }      
}
}
