#fp-sticker-col {
 position: relative;
 left: 285px;
}

.sticker-anim {
 transition: all 625ms ease-in-out;
}

.deco-sticker-effect {
  position: relative;
  margin: 0;
  backface-visibility: hidden;
  width: 180px;
  height: 180px;
  transform: scale(1.875);
  cursor: pointer;
  .sticky {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
  }
  &:hover,
  &:focus,
  &:active {
    .sticky {
      transform: rotate(10deg);
    }
  }
  .circle {
    position: absolute;
    width: 140px;
    height: 140px;
    margin: 20px;
    border-radius: 999px;
  }
  .reveal {
    .circle {
      box-shadow: 0 1px 0px rgba(0, 0, 0, .15);
      font-family: $font-family-buttons;
      font-weight: 300;
      line-height: 140px;
      text-align: center;
      cursor: pointer;
      background: #c8193c;
    }
  }
  .circle-wrapper {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 0px;
    top: 0px;
    overflow: hidden;
  }
  .back {
    height: 10px;
    top: 30px;
  }
  &:hover .back {
    height: 90px;
    top: 110px;
  }
}


.deco-sticker-effect .back {
 height: 10px;
 top: 30px;
}

.deco-sticker-effect:hover .back {
 height: 90px;
 top: 110px;
}

.deco-sticker-effect .back .circle {
 margin-top: -130px;
 background-color: #ed2f55;
 background-image: -webkit-linear-gradient(to top, rgba(251, 236, 63, .0), rgba(255, 255, 255, .1));
}

.deco-sticker-effect:hover .back .circle {
 margin-top: -50px;
}

.deco-sticker-effect .front {
 height: 150px;
 bottom: 0;
 top: auto;
 box-shadow: 0 -140px 20px -140px rgba(0, 0, 0, .3);
}

.deco-sticker-effect:hover .front {
 height: 70px;
 box-shadow: 0 -60px 10px -60px rgba(0, 0, 0, .1);
}

.deco-sticker-effect .front .circle {
 margin-top: -10px;
 background: #ed2f55;
 background-image: -webkit-linear-gradient(to top, rgba(251, 236, 63, .0) 75%, hsl(348, 84%, 50%) 95%);
 background-image: -moz-linear-gradient(to top, rgba(251, 236, 63, .0) 75%, hsl(348, 84%, 48%) 95%);
 background-image: linear-gradient(to top, rgba(251, 236, 63, .0) 75%, hsl(348, 84%, 46%) 95%);
}

.deco-sticker-effect h4 {
 font-family: $font-family-buttons;
 font-weight: 200;
 text-align: center;
 position: absolute;
 width: 180px;
 height: 140px;
 line-height: 140px;
 transition: opacity 50ms linear 400ms;
}
