.target-node-wrapper,
.imp-ui-layers-menu-wrap  {
  display: none;
}
#floorplates {
  .imp-main-image {
    opacity: .25;
    transition: opacity .5s ease-in-out;
    &.show {
      opacity: 1;
    }
  }
}
.loaded-svg-poly {
  cursor: pointer !important;
  &.hovering-on {
    opacity: 0.35 !important;
  }
}

.page-template-page-location {
  .imp-image-backgrounds-container,
  .hs-poly-svg {
    display: none !important;
  }
  .imp-shape.imp-shape-text {
    opacity: 1 !important;
  }
}

.imp-tooltip {
  font-family: $font-family-buttons;
  font-size: 1rem;
  padding: 16px;
  line-height: 1;
  text-align: center;
  > p {
    margin: 0;
  }
}

.imp-shape-text {
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  font-family: $font-family-buttons !important;
  transition: background-color .05s linear, color .05s linear;
  will-change: background-color, color;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0), 0 1px 1px 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0);
  font-family: $font-family-buttons;
  font-size: 1rem;
  text-align: center;
  color: $white;
}

.imp-wrap {
  position: relative;
  width: auto;
  height: auto;
  -webkit-tap-highlight-color: transparent;
  margin: 0 auto;
}

.imp-tooltip .squares-container .squares-element p {
  font-size: 16px !important;
  line-height: 18px !important;
  width: 125px !important;
}

.hs-loader-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imp-main-image {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
  margin: 0 !important;
  max-width: none !important;
  max-height: none !important;
  display: block !important;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent
}

.imp-zoom-outer-wrap {
  overflow: hidden;
}

#imp-fullscreen-wrap  { 
  .imp-zoom-outer-wrap {
  overflow: visible;
}
.imp-wrap {
  position: inherit;
}

}

.imp-tooltips-container {
  position: absolute !important;
  z-index: 0 !important;
  overflow: visible !important;
  display: none !important;
  .imp-tooltip {

    &.tooltip-visible,
    &.imp-tooltip-visible {
      opacity: 1 !important;
      display: block !important;
    }
  }
}

.imp-zoom-outer-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.imp-zoom-wrap {
  transform: scale(1, 1) translate(0, 0);
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.imp-translate-wrap {
  width: 100%;
  height: 100%;
}

.imp-shape-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.imp-shape {
  cursor: pointer;
  pointer-events: all;
  transition: all .25s cubic-bezier(.55, 0, .1, 1);
  box-sizing: border-box;
}

.imp-shape-oval,
.imp-shape-rect,
.imp-shape-spot,
.imp-shape-text {
  position: absolute;
}

.imp-shape-text {
  cursor: pointer;
}

.imp-shape-spot {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s cubic-bezier(.075, .82, .165, 1);
}

.imp-shape-spot-pin {
  transform-origin: 50% 100%;
}

.imp-shape-icon-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  transform: scale(1, .25);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, .53) 0, rgba(0, 0, 0, .3) 10%, rgba(0, 0, 0, .13) 28%, rgba(0, 0, 0, .04) 44%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%)
}

.imp-spot-fontawesome-icon {
  position: relative;
  z-index: 1;
}

.imp-shape img {
  width: 100%;
}

.imp-tooltip {
  display: block;
  position: absolute;
  z-index: 1;
  transition-property: none;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.55, 0, .1, 1);
  box-sizing: border-box;
  font-family: sans-serif
}

.imp-tooltip.imp-tooltip-visible {
  opacity: 1 !important;
  z-index: 4;
}

.hs-arrow {
  position: absolute
}

.hs-arrow-top {
  left: 50%;
  top: 0;
  margin-left: -8px;
  margin-top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #000;
}

.hs-arrow-bottom {
  left: 50%;
  top: 100%;
  margin-left: -8px;
  margin-top: 0;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000;
}

.hs-arrow-right {
  left: 100%;
  top: 50%;
  margin-left: 0;
  margin-top: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #000;
}

.hs-arrow-left {
  left: 0;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #000;
}

.imp-tooltip-buffer {
  position: absolute;
}

.imp-tooltip-buffer-top {
  left: 0;
  top: -20px;
  width: 100%;
  height: 20px;
}

.imp-tooltip-buffer-bottom {
  left: 0;
  top: 100%;
  width: 100%;
  height: 20px;
}

.imp-tooltip-buffer-left {
  left: -20px;
  top: 0;
  width: 20px;
  height: 100%;
}

.imp-tooltip-buffer-right {
  left: 100%;
  top: 0;
  width: 20px;
  height: 100%;
}

.imp-tooltip-buffer-top.imp-tooltip-buffer-large {
  left: 0;
  top: -60px;
  width: 100%;
  height: 60px;
}

.imp-tooltip-buffer-bottom.imp-tooltip-buffer-large {
  left: 0;
  top: 100%;
  width: 100%;
  height: 60px;
}

.imp-tooltip-buffer-left.imp-tooltip-buffer-large {
  left: -60px;
  top: 0;
  width: 60px;
  height: 100%;
}

.imp-tooltip-buffer-right.imp-tooltip-buffer-large {
  left: 100%;
  top: 0;
  width: 60px;
  height: 100%;
}

.imp-image-backgrounds-container {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.imp-shape-background-image {
  position: absolute;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.imp-fullscreen-tooltips-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  z-index: 2147483647;
}

.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  transition-property: none;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.55, 0, .1, 1);
}

.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip.imp-tooltip-visible {
  opacity: 1 !important;
  z-index: 3;
}

.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip .imp-tooltip-close-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  z-index: 99;
}

.imp-fullscreen-button {
  position: absolute;
  height: 44px;
  line-height: 44px;
  padding: 0 12px;
  background: #fff;
  border-radius: 5px;
  color: #222;
  z-index: 3;
  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;
}

.imp-fullscreen-button i {
  margin-right: 3px
}

.imp-fullscreen-button-position-0 {
  left: 20px;
  top: 20px
}

.imp-fullscreen-button-position-1 {
  left: 50%;
  top: 20px
}

.imp-fullscreen-button-position-2 {
  right: 20px;
  top: 20px
}

.imp-fullscreen-button-position-3 {
  right: 20px;
  bottom: 20px
}

.imp-fullscreen-button-position-4 {
  left: 50%;
  bottom: 20px
}

.imp-fullscreen-button-position-5 {
  left: 20px;
  bottom: 20px
}

.imp-fullscreen-button-icon-only {
  width: 44px;
  text-align: center;
  font-size: 18px;
  padding: 0;
}

.imp-fullscreen-button-icon-only i {
  margin: 0;
}

#imp-fullscreen-wrap {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.imp-fullscreen-mode {
  overflow: hidden
}

.imp-ui-navigator-root {
  position: absolute;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
  overflow: hidden;
  -webkit-touch-callout: none;
  user-select: none;
  box-sizing: border-box;
  border: 1px solid rgba($darker,.72);
  border-radius: 2px;
  background: none;
  box-shadow: 0 3px 5px -1px rgba($secondary, 0), 0 5px 6px 0 rgba($secondary, 0), 0 1px 7px 0 rgba($secondary, 0);
  transition: border-color .15s linear, box-shadow .15s linear;
  &:hover, &:active, &:focus {
    border-color: $secondary-inactive;
    box-shadow: 0 3px 5px -1px rgba($secondary, 0.06), 0 5px 6px 0 rgba($secondary, 0.04), 0 1px 7px 0 rgba($secondary, 0.06);
  }
}

.imp-ui-navigator-background-image-edgefill {
  z-index: 0;
  position: absolute;
  display: block;
  max-width: 150px;
  max-height: 150px;
}

.imp-ui-navigator-background-image {
  z-index: 1;
  position: relative;
  display: block;
  max-width: 150px;
  max-height: 150px;
}

.imp-ui-navigator-overlay {
  z-index: 2;
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: .25;
  left: 0;
  top: 0
}

.imp-ui-navigator-window-image {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  max-width: 150px;
  max-height: 150px;
}

.imp-ui-element {
  &.imp-ui-zoom-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: rgba(11, 11, 11, 0.75) !important;
    color: rgba(192, 192, 192, 0.75) !important;
    border-color: rgba($darker, 0.75);
    box-shadow: none !important;
    border-radius: 0 !important;
    text-align: center;
    line-height: 30px;
    font-size: 12px !important;
    z-index: 1;
    user-select: none;
    &:hover, &:active, &:focus {
      background: rgba(11, 11, 11, 1) !important;
      color: rgba(192, 192, 192, 1) !important;
      border-color: rgba($darker, 1);
    }
  }
}
.imp-ui-zoom-button-zoom-in {
  bottom: 54px !important;
}

.imp-ui-layers-menu-wrap {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1
}

.imp-ui-layer-switch {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 30px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  border-radius: 5px 0 0 0
}

.imp-ui-layer-switch-down {
  top: 22px;
  border-radius: 0 0 0 5px
}

.imp-ui-layer-switch i {
  width: 100%;
  color: #222
}

.imp-ui-layer-switch:active {
  background: rgba(0, 0, 0, 0.1)
}

.imp-ui-layers-select {
  z-index: 1;
  padding: 0 20px 0 40px !important;
  outline: 0;
  -webkit-appearance: none;
  font-size: 14px;
  line-height: 44px !important;
  height: 44px !important;
  vertical-align: inherit;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  box-shadow: none;
  background-color: #f8f8f8;
  color: #222;
  outline-color: #222;
  outline-style: none;
  outline-width: 0;
  border: 1px solid #a6a6a6
}

.imp-ui-element {
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: content-box;
}

.imp-main-image {
  z-index: 0;
}

.imp-image-backgrounds-container {
  z-index: 2;
}

.imp-shape-container {
  z-index: 1;
}

#floorplans {
  .imp-image-backgrounds-container {
    z-index: 1;
  }
  
  .imp-shape-container {
    z-index: 2;
  }
}

.imp-ui-element {
  z-index: 3;
}

.imp-ui-scroll-message-wrap {
  z-index: 4;
}

.imp-wrap {
  align-self: flex-start;
}

.imp-shapes-menu-outer-wrap {
  display: flex;
}

.imp-shapes-menu-wrap {
  position: relative;
  width: 240px;
  background: #fff;
  flex-shrink: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.imp-shapes-menu-wrap.imp-shapes-menu-wrap-with-search-box {
  padding-top: 73px;
}

.imp-shapes-menu-wrap-left {
  border-right: 1px solid #dedede;
}

.imp-shapes-menu-wrap-right {
  border-left: 1px solid #dedede;
}

.imp-shapes-menu-search-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #dedede;
  background: #f5f5f5;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
}

.imp-shapes-menu-scroll-wrap {
  flex: 1;
  overflow-y: auto
}

.imp-shapes-menu-search-box input {
  font-size: 14px;
  line-height: 40px;
  padding: 0 35px 0 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  border: 1px solid #dedede;
}

.imp-shapes-menu-search-box input:focus {
  border: 1px solid #a6a6a6;
}

.imp-shapes-menu-search-box i {
  position: absolute;
  right: 24px;
  top: 27px;
  color: #c7c7c7;
  font-size: 18px;
}

.imp-shapes-menu-layer-title {
  position: relative;
  padding: 0 20px;
  line-height: 40px;
  background: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
  z-index: 1;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #222;
}

.imp-shapes-menu-shape-title {
  color: #222;
  position: relative;
  z-index: 0;
  padding: 0 20px;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 1px solid #ececec;
  font-family: sans-serif;
  font-size: 14px;
}

.imp-shapes-menu-shape-title:hover {
  background: #f9f9f9
}

#imp-fullscreen-wrap .imp-wrap {
  z-index: 0;
}

#imp-fullscreen-wrap .imp-shapes-menu-wrap {
  z-index: 1;
  height: 100%;
  position: absolute;
  top: 0;
}

.imp-fullscreen-root-wrap {
  flex: 1;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%
}

#imp-fullscreen-wrap .imp-shapes-menu-wrap.imp-shapes-menu-wrap-left {
  left: 0;
}

#imp-fullscreen-wrap .imp-shapes-menu-wrap.imp-shapes-menu-wrap-right {
  right: 0;
}

.imp-fullscreen-root-wrap.imp-shapes-menu-left {
  margin-left: 240px;
}

.imp-fullscreen-root-wrap.imp-shapes-menu-right {
  margin-right: 240px;
}

.imp-shapes-menu-wrap span.imp-search-highlight {
  background: $secondary;
  border-radius: 2px
}

.imp-shapes-menu-wrap .fa-times {
  display: none;
  cursor: pointer;
  width: 42px;
  height: 42px;
  right: 15px;
  top: 15px;
  text-align: center;
  line-height: 42px
}

.imp-shapes-menu-wrap.imp-searching .fa-search {
  display: none
}

.imp-shapes-menu-wrap.imp-searching .fa-times {
  display: block;
  color: #222
}

.imp-ui-scroll-message-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none
}

.imp-ui-scroll-message-wrap-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.imp-ui-scroll-message {
  padding: 10px 30px;
  line-height: 45px;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, .66);
  border-radius: 40px;
  font-family: sans-serif
}

.imp-ui-scroll-message-button {
  border: 1px solid #fff;
  border-radius: 5px;
  display: inline-block;
  line-height: 28px;
  padding: 0 7px;
  margin: 0 6px;
  font-size: 12px
}

