.row {
 &.row-floorplans {
  position: relative;
 }

 &.row-floorplans-disclaimer {
  .vertical-sep {
   width: 1px;
   height: 1.375rem;
   background: rgba(255, 255, 255, .5);
   margin: 0 .75rem;
  }

  #levelNumber,
  span {
   line-height: 1.375rem;
  }
 }
}

#accordianId { 
  .card  { 
    background: $darker;
    padding: 0 !important;
    .card-header {
      padding: 0 !important;
    }
    .card-body {
      padding: 1.25rem 0 !important;
      border-style: solid;
      border-style: solid;
      border-top-width: 0px;
      border-top-color: rgba(0,0,0,0) !important;
      border-left-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-color: #58666b;
      transition: all 0.15s linear;
      background: $dark;
    }
  }
  .collapse.show {
    .card-body {
      border-color: rgba($secondary, 0.65);
      background: $darker !important;
    }
  }
}


.apartment-leftpad-item {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 22rem;
  line-height: 1.625;
  font-weight: 500;
  font-family: $font-family-roboto;
}

// .apartment-cta-wrapper {
//  h3 {
//   letter-spacing: -1px !important;
//   line-height: 1 !important;
//  }
//  h4 {
//   font-size: .925rem !important;
//   letter-spacing: -0.5px !important;
//   line-height: 1 !important;
//  }
// }


#levelNumber {
 position: relative;
}

#floorplans {
 .vertical-sep {
  width: 1px;
  display: inline-block;
  height: 22px;
  margin-bottom: 0 !important;
 }

 .imp-image-backgrounds-container,
 .imp-ui {
  display: none;
 }

 .imp-shape {
  &.imp-shape-poly {
   opacity: 0;
   transition: opacity .25s ease-out;
   will-change: opacity;
   fill: url(#gradientLinear);
   &:hover,
   &:active,
   &:focus {
    opacity: 0.24;
   }
  }
 }
}

@include media("<lg") {
  #floorplanLevelMap {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
