.floorplate-elements-primary,
.apartment-elements-primary,
.building-elements-primary,
.amenities-elements-primary {
  color: $primary !important;
  &:hover, &:active, &:focus {
    a {
      color: $primary-light !important;
    }
  }
  a, span, p, div {
    color: $primary !important;
  }
  &.vertical-sep {
    background-color: rgba($primary, .62) !important;
  }
  path, g {
    fill: $primary !important;
    transition: fill .15s linear !important;
  }
  &:hover, &:active, &:focus {
    path, g {
      fill: $primary-light;
    }
  }
}

.floorplate-elements-secondary,
.apartment-elements-secondary,
.building-elements-secondary,
.amenities-elements-secondary {
  color: $secondary !important;
  &:hover, &:active, &:focus {
    a {
      color: $secondary !important;
    }
  }
  a, span, p, div {
    color: $secondary !important;
  }
  &.vertical-sep {
    background-color: rgba($secondary, .62) !important;
  }
  path, g {
    fill: $secondary;
    transition: fill .15s linear !important;
  }
  &:hover, &:active, &:focus {
    path, g {
      fill: $secondary;
    }
  }
}

.floorplate-elements-white,
.apartment-elements-white,
.building-elements-white,
.amenities-elements-white {
  color: $white !important;
  &:hover, &:active, &:focus {
    a {
      color: $white !important;
    }
  }
  a, span, p, div {
    color: $white !important;
  }
  &.vertical-sep {
    background-color: rgba($white, .62) !important;
  }
  path, g {
    fill: $white;
    transition: fill .15s linear !important;
  }
  &:hover, &:active, &:focus {
    path, g {
      fill: $secondary;
    }
  }
}



.floorplate-elements-black,
.apartment-elements-black,
.building-elements-black,
.amenities-elements-black {
  color: $black !important;
  &:hover, &:active, &:focus {
    a {
      color: $black !important;
    }
  }
  a, span, p, div {
    color: $black !important;
  }
  &.vertical-sep {
    background-color: rgba($black, .62) !important;
  }
  path, g {
    fill: $black;
    transition: fill .15s linear !important;
  }
  &:hover, &:active, &:focus {
    path, g {
      fill: $secondary;
    }
  }
}

.floorplate-elements-dark,
.apartment-elements-dark,
.building-elements-dark,
.amenities-elements-dark {
  color: $dark !important;
  &:hover, &:active, &:focus {
    a {
      color: $dark !important;
    }
  }
  a, span, p, div {
    color: $dark !important;
  }
  &.vertical-sep {
    background-color: rgba($dark, .62) !important;
  }
  path, g {
    fill: $dark;
    transition: fill .15s linear !important;
  }
  &:hover, &:active, &:focus {
    path, g {
      fill: $secondary;
    }
  }
}

.floorplate-elements-darker,
.apartment-elements-darker,
.building-elements-darker,
.amenities-elements-darker {
  color: $darker !important;
  &:hover, &:active, &:focus {
    a {
      color: $darker !important;
    }
  }
  a, span, p, div {
    color: $darker !important;
  }
  &.vertical-sep {
    background-color: rgba($darker, .62) !important;
  }
  path, g {
    fill: $darker;
    transition: fill .15s linear !important;
  }
  &:hover, &:active, &:focus {
    path, g {
      fill: $secondary;
    }
  }
}

.floorplate-elements-light,
.apartment-elements-light,
.building-elements-light,
.amenities-elements-light {
  color: $light !important;
  &:hover, &:active, &:focus {
    a {
      color: $light !important;
    }
  }
  a, span, p, div {
    color: $light !important;
  }
  &.vertical-sep {
    background-color: rgba($light, .62) !important;
  }
  path, g {
    fill: $light;
    transition: fill .15s linear !important;
  }
  &:hover, &:active, &:focus {
    path, g {
      fill: $secondary;
    }
  }
}