#amentitiesImageMap {
  .imp-shape.imp-shape-oval {
    width: 1rem !important;
    height: 1rem !important;
    background: $secondary-inactive !important;
    &:hover, &:active, &:focus {
      background: $secondary-active !important;
    }
  }
  .tooltip {
    cursor: default !important;
  }
}
