#np-block {
 padding-bottom: 4rem;
 padding-top: 2rem;

 @include media(">=xl") {
  padding-bottom: $padding-gap;
  padding-top: $padding-gap;
 }

 .next-page-text-wrapper {

  .next-page-text,
  .nextpage-heading {
   font-family: $font-family-sans-serif !important;
  }
 }
}

.col-next-page,
.row-next-page {
 justify-self: center;
 display: flex;
 margin: 0 auto;
}

.col-next-page-img {
 .img-next-page {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
 }
}

.col-next-page {
 z-index: 999;

 h2 {
  transition: color .15s linear;
  will-change: color;
 }

 a {

  &:hover,
  &:active,
  &:focus {
   color: $link-hover-color;

   h2 {
    color: $link-hover-color;
   }
  }
 }
}

.link-next-page {
 display: flex;
 flex-flow: row;
 justify-content: right;
 align-items: center;
 width: 100%;
 transform-origin: center;
 will-change: transform;

 .next-page-text {
  color: rgba($next-page-button-text, 1.0);
  transition: color .25s ease-out;
  will-change: color;
 }

 .nextpage-heading {
  color: rgba($next-page-button-text, 1.0);
  transition: color .25s ease-out;
  will-change: color;
  text-transform: uppercase;
 }

 .icon-chevron-path {
  fill: rgba($next-page-button-text, 1.0);
  transition: fill .25s ease-out;
  will-change: fill;
 }

 &::before {
  transition: transform .25s ease-out;
  transform: scale(0.995);
  will-change: transform;
  transform-origin: center;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
  background-color: $next-page-button-background !important;
 }

 &:hover,
 &:focus,
 &:active {
  &::before {
   transform: scale(1.0);
  }

  .btn-chevron-right {
   border-color: rgba(255, 255, 255, 0.12);
  }
 }

 &:hover,
 &:active,
 &:focus {
  .icon-chevron-path {
   fill: rgba($next-page-button-text-hover, 1.0) !important;
  }

  .nextpage-heading {
   color: rgba($next-page-button-text-hover, 1.0) !important;
  }

  .next-page-text {
   color: rgba($next-page-button-text-hover, 1.0) !important;
  }
 }
}

.row-next-page {
 @include media(">=xl") {
  left: -100px;
  position: relative;
  padding-bottom: 32px;
 }
}

.col-next-page {
 @include media(">=xl") {
  position: relative;
  left: 100px;
 }
}

.col-next-page-inner {
 &.py-lg-6 {
  @include media(">=xl") {
   padding-bottom: 4.125rem !important;
   padding-top: 4.125rem !important;
  }
 }
}

.col-next-page-one {
 z-index: 2;
}

.col-next-page-two {
 flex: 1 0 100%;
 margin-top: 0;
 margin-bottom: 0;

 @include media(">=xl") {
  max-width: calc(100% + 100px) !important;
  flex: 0 0 calc(58.33333% + 100px);
  margin-right: -100px;
 }

 .img-next-page {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center;';

  @include media(">=xl") {
   z-index: 1;
  }
 }
}

.deco-img-frame {
 background-color: $next-page-button-text;
 position: absolute;
 display: block;

 &.deco-img-frame-right {
  width: 32px;
  height: 68%;
  right: -32px;
  bottom: 0;
 }

 &.deco-img-frame-bottom {
  width: 55%;
  height: 32px;
  right: -32px;
  bottom: -32px;
 }
}
