
.col-offset-image {
  overflow: visible;
  z-index: 2;
  margin-bottom: 0;
  @include media(">=lg") {
    margin-bottom: -12rem;
  }
  @include media(">=xl") {
    margin-bottom: -16rem;
  }
  .offset-image {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center top;
  }
}