.video-container {
 position: relative;

 img {
  max-height: 80vh;
  object-fit: cover;
 }

 #logo-image {
  width: 22rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
 }

 .horizontal-sep {
  height: 2px;
  max-width: 100%;
  background: $text-muted;
  display: block;
  width: calc(100% - 4rem);
  padding: 0;
  margin: 2rem auto 4rem;
 }

 p {
  color: $text-muted;
 }

 .play-button {
  align-self: center;
  background: $secondary;
  padding: 3rem;
  position: absolute;
 }

 .embed-container {
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
 }

 .embed-container iframe,
 .embed-container object,
 .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 }
}

.video-container .deco-stripe {
 fill: #94989c !important;
}
