.col-fp-hero {
 &.jarallax {
  min-height: 100vh;
  max-height: 100vh;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;

  p {
   color: rgb(255, 255, 255);
   text-align: center;
   font-size: 2rem;
   display: block;
  }
 }

 .sticker-row {
  display: none;
  position: absolute;
  top: 0;
  left: 4rem;

  @include media(">=lg") {
   display: block;
  }
 }
}

#fp-sticker-peel-col-alt {
 margin-top: -50px;
}

.container-fp-hero {
 height: 100%;
 display: flex;
 flex-flow: column;
 align-items: center;
 justify-content: center;
 position: relative;
 padding-top: 4.875rem;
 padding-left: 4rem;
 padding-right: 4rem;
 padding-bottom: 4.875rem;
 max-width: 100%;
 @include media(">=sm") {
  max-width: 33.75rem;
 }

 @include media(">=md") {
  max-width: 38.625rem;
  padding-top: 8.875rem;
 }

 @include media(">=lg") {
  max-width: 44rem;
 }

 >.col-auto {
  >img {
   display: block;
   max-width: 100%;
   width: auto;
   margin-left: auto;
   margin-right: auto;
   padding-left: .5rem;
   padding-right: .5rem;
  }
 }
}

.fp-hero-px-one,
.fp-hero-px-two,
.fp-hero-px-three,
.fit-fp-banner,
.fittext {
 display: flex;
 width: 100%;

 * {
  color: #fff !important;
 }
}

.js {

 .fittext,
 .fit-fp-banner {
  // display: inline-block;
  white-space: nowrap;
 }
}

.fit-fp-banner {
 font-size: 45px;
}

.fittext {
 font-size: 28px;
}

// .fp-hero-px-one {
//   margin-left: 14%;
//   margin-right: 14%;
// }
.fp-hero-px-two {
 margin-left: 7%;
 margin-right: 7%;
}

.fp-hero-px-three {
 margin-left: 6%;
 margin-right: 6%;
}

.container-banner-content {
 width: 100%;
 display: flex;
 flex-direction: column;

 .logo-row,
 .title-row {
  justify-self: center;
  align-self: center;
 }

 .row-banner-content {
  position: absolute;
  top: 0;
  left: 4rem;
 }
}

#overlay {
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.75);
 background-size: cover;
 display: flex;
 align-items: center;
 top: 0;
 justify-content: center;
 left: 0;
 flex-flow: column;
}

.project-video-text {
 letter-spacing: 4px;
 text-transform: uppercase;
 text-align: center;
 font-size: 0.75rem;

 @include media(">=lg") {
  font-size: 1rem;
 }
}
