.list-columns {
  columns: 1;
  @include media(">=md") {
    columns: 2;
  }
  @include media(">=lg") {
    columns: 4;
  }
}

.list-item-location {
  font-size: .875rem;
  .list-item-location-count {
    min-width: 20px;
    text-align: center;
  }
}

.tooltip {
  .tooltip-inner {
    background-color: $secondary-dark !important;
    padding: .5rem 1rem!important;
  }
  .arrow::before {
    border-top-color: $secondary-dark !important;
  }
}