.announcement-circle {
  background: #ee2f55;
  color: #ffff;
  width: 18rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 4rem;
  clip-path: circle(48.6% at 50% 37%);
 }
 
 .announcement-title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
 }

.announcement-text {
 width: 77%;
}
