.active.nav-item > a {
  color: $secondary-light;
}

.row-footer-multisite-nav {
  .nav-item {
    &:hover, &:focus, &:active {
      color: $mystirling-blue;
      a {
        color: $mystirling-blue;
      }
    }
    &.active {
      color: $mystirling-blue;
      a {
        color: $mystirling-blue;
      }
    }
  } 
}


.row-footer-multisite-nav .nav-item:hover a {
  color: $mystirling-blue !important;
}

.navbar-nav {
 .nav-item {
  font-family: $font-family-heading;
  font-weight: 400;
  list-style: none;
  text-align: center;
  width: 100%;
  display: block;

  >a {
   width: 100%;
   display: block;
   font-family: $font-family-heading;
   font-weight: 400;
   list-style: none;
   text-align: center;
  }
 }

 .sub-menu {
  padding: 0;
  list-style: none;
  margin-top: 6px;
 }

 >.nav-item {
  font-size: 1.125rem;
  margin-top: 2px;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  >a {
   font-size: 1.125rem;
   text-transform: uppercase;
  }

  .sub-menu {
   >.nav-item {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 0.875rem;
    letter-spacing: .2px;
    text-transform: none;

    >a {
     font-family: $font-family-heading;
     font-size: 0.875rem;
     text-transform: none;
    }
   }
  }
 }
}

#ldSidenavMask {
 height: 100vh;
 width: 100vw;
 z-index: 99;
 background: rgba(0, 0, 0, 0.3);
 display: block;
 position: fixed;
 top: 0;
 left: 0;
}

