#navbar-left-main {
 position: fixed;
 display: none;
 overflow: hidden;
 @include media(">=lg") {
  display: flex;
 }
 width: 80px;
 flex-flow: column;
 align-items: center;
 justify-content: space-between;
 padding: 0;
 left: 0;
 top: 0;
 min-height: 100vh;
 z-index: 1399;
 box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.08),
 0 4px 3px 0 rgba(0, 0, 0, 0.12),
 0 1px 4px 0 rgba(0, 0, 0, 0.14);

 #sidebar-left-trigger {
  display: flex;
  margin: 0;
  padding: 0 14px;
  height: 80px;
 }

 #enquire-left-trigger {
  display: flex;
  margin: 0;
  padding: 0 28px;
  height: auto;
 }
}

#sidebar-left-enquire {
 z-index: 1301;
 left: -908px;
 width: 908px;
 max-width: 100%;
 box-shadow: 0px 0 0px 1px rgba(0, 0, 0, 0.08), -1px 0 0px 1px rgba(0, 0, 0, 0.01), -2px 0 0px 1px rgba(0, 0, 0, 0.04);

 .wrapper {
  padding-left: $padding-gap-mobile;
  padding-right: $padding-gap-mobile;

  @include media(">=md") {
   padding-left: calc(#{$padding-gap} + 80px);
   padding-right: $padding-gap;
  }
 }
}

#sidebar-left-nav {
 overflow-x: hidden;
 -webkit-overflow-scrolling: touch;
 overflow-y: auto;
 display: none;
 left: -716px;
 width: 636px;
 max-width: 100%;
 top: 0;
 position: fixed;
 z-index: 1302;

 @include media(">=lg") {
  display: block;
 }

 box-shadow: 0px 0 0px 1px rgba(0, 0, 0, 0.08),
 -1px 0 0px 1px rgba(0, 0, 0, 0.01),
 -2px 0 0px 1px rgba(0, 0, 0, 0.04);

 .wrapper {
  min-height: 100vh;
  padding-left: $padding-gap-mobile;
  padding-right: $padding-gap-mobile;

  @include media(">=md") {
   padding-left: 9.5rem;
   padding-right: $padding-gap;
  }
 }
}

#sidebar-left-enquire {
 left: -908px;
 width: 988px;
 max-width: 100%;
 top: 0;
 position: fixed;
 z-index: 1302;
 overflow-x: hidden;
 -webkit-overflow-scrolling: touch;
 display: none;

 @include media(">=lg") {
  display: block;
 }

 >.wrapper {
  padding-left: $padding-gap-mobile;
  padding-right: $padding-gap-mobile;
  min-height: 100vh;

  @include media(">=md") {
   padding-left: 9.5rem;
   padding-right: $padding-gap;
  }

  >.row {
   position: relative;
  }
 }
}

#sidebar-mystirling-nav,
#sidebar-left-nav,
#sidebar-left-enquire {
  h1, h2, h3, h4, h5, h6, 
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-montreal !important;
    color: $black;
    small, a, span {
      font-family: $font-family-montreal !important;
      color: $black;
    }
  }
 > .nav-item {
  > a {
    z-index: 1208;
    font-family: $font-family-montreal !important;
    text-align: left;
    color: $black;
   }
  &:hover,
  &:focus,
  &:active {
   > a {
    color: $mystirling-blue;
   }
  }
 }
}

#sidebar-left-nav-button {
 padding: 0;
 margin: 16px 14px;
 border: 0;
 background: none;

 &.sidebar-left-toggler {
  .tcon-menu__lines {
   background: $black;

   &::before,
   &::after {
    background: $black;
   }
  }

  &.tcon-transform {
   .tcon-menu__lines {
    background: 0 0;

    &::before,
    &::after {
     background: $black;
    }
   }
  }
 }
}

.btn-sidebar-left-social {
 font-size: 1.65rem;
 width: 25px;
 max-width: 100%;
 text-align: center;
}

.enquire-btn-wrapper {
 position: relative;

 .enquire-btn-chevron-right {
  position: absolute;
  right: -18px;
  top: calc(50% - 11.25px);
  opacity: 0;

  &.show {
   opacity: 1;
  }
 }
}

.sidebar-left-enquire-button {
 &.sidebar-left-enquire-close {
  position: absolute;
  right: 3rem;
  top: 3rem;
  box-shadow: none !important;

  .tcon-menu__lines {
   background: $black;

   &::before,
   &::after {
    background: $black;
   }
  }

  &.tcon-transform {
   .tcon-menu__lines {
    background: 0 0;

    &::before,
    &::after {
     background: $black;
    }
   }
  }
 }
}

#gform_submit_button_2 {
 font-style: normal !important;
 letter-spacing: 2px !important;
 padding: 18px 24px !important;
 width: 10rem !important;
}
