#navbar-right-main {
 overflow-x: hidden;
 -webkit-overflow-scrolling: touch;
 position: fixed;
 width: auto;
 right: 0;
 top: 0;
 display: flex !important;
 flex-flow: row;
 align-items: flex-start;
 justify-content: space-between;
 padding: 0;
 height: 72px;
 z-index: 1031;
 &[data-nav-open="opened"] {
  box-shadow: 0px 0px 2px 0px rgba($dark, 0.15);
}
 z-index: 1398;
 #sidebar-right-nav-button {
  display: flex;
  margin: 0;
  padding: 0 14px;
  height: 72px;
  box-shadow: none;
 }

 #sidebar-right-enquire-button {
  display: flex;
  margin: 0;
  padding: .5rem 2rem;
  min-height: 72px;
  box-shadow: none;
  align-items: center;
  justify-content: center;
 }

 .sub-menu {
    display: none;
    @include media(">=md") {
      display: block;
    }
  }
}

#sidebar-right-enquire {
 overflow-x: hidden;
 -webkit-overflow-scrolling: touch;
 overflow-y: auto;
 right: -100%;
 z-index: 1303;
 top: 0;
 width: 100% !important;
 position: fixed;
 max-width: 100%;
 .wrapper {
  min-height: 100vh; 
}
 @include media(">=md") {
  width: 1088px !important;
  right: -1088px;
 }
  @include media(">=lg") {
    max-width: calc(100vw - 80px) !important;
  }
  &[data-nav-open="opened"] {
    box-shadow: 0px 0px 2px 0px rgba($dark, 0.15);
  }
}

#header-menu {
 min-height: calc(100vh - 9rem);
}

#navbar-right-main {
 width: 100%;

 >.row {
  width: 100%;
 }

 @include media(">=md") {
  width: auto;

  >.row {
   width: auto;
  }
 }
}

.logo-mobile {
 width: 14rem !important;
 max-width: 100%;
 padding: 0 16px 0 3rem;
 display: block !important;
 margin: 0 auto !important;

 @include media(">=md") {
  display: none !important;
 }
}

#sidebar-right-nav {
 overflow-x: hidden;
 -webkit-overflow-scrolling: touch;
 overflow-y: auto;
 width: 100% !important;
 right: -100%;
 max-width: 100%;
 @include media(">=md") {
  width: 288px !important;
  right: -288px;
  opacity: .98;
 }
 &[data-nav-open="opened"] {
  box-shadow: 0px 0px 2px 0px rgba($dark, 0.15);
}
 z-index: 1499;
 top: 0;
 position: fixed;
 .sidebar-wrapper {
  position: relative;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .navbar-nav {
   margin-top: 6rem !important;
   margin-bottom: 2rem !important;

   >.nav-item {
    margin-top: .625rem;
    margin-bottom: .625rem;
    >a {
     z-index: 1208;
     width: 100%;
     display: block;
     text-align: center;
     color: $nav-right-menu-item;
     &:hover, &:active, &:focus {
        color: $nav-right-menu-item-hover;
      }
    }
    &.active {
      >a {
        color: $nav-right-menu-item-hover;
      }
    }
    >.sub-menu {
      >.nav-item {
        margin-top: .42rem;
        margin-bottom: .42rem;
        >a {
          z-index: 1208;
          width: 100%;
          display: block;
          text-align: center;
          color: $nav-right-menu-item;
          &:hover, &:active, &:focus {
            color: $nav-right-menu-item-hover;
          }
        }
        // &.active {
        //   >a {
        //     color: $nav-right-menu-item-hover;
        //   }
        // }
      }
    }
   }
  }
  .navbar-header {
   display: flex;
   flex-flow: column;
   width: 100%;

   .navbar-collapse {
    display: flex;
    flex-flow: column;
    width: 100%;
   }
  }
 }
}
